Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

codecov.yml:

coverage:
  status:
    project:
      default: off
      js:
        target: auto
        threshold: 1%
        flags:
          - js
      browser:
        target: auto
        threshold: 1%
        flags:
          - browser

flags:
  js:
    paths:
      - ./packages/js
  browser:
    paths:
      - ./packages/browser

chore: update eslint-configs and stylelint
  packages/browser-sample/package.json
  packages/browser-sample/src/index.js
  packages/browser-sample/src/pages/Callback.js
  packages/browser-sample/src/pages/Home.js
  packages/browser/package.json
  packages/browser/src/index.ts
  packages/js/package.json
  packages/js/src/utils/callback-uri.ts
  packages/react-sample/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

release: v0.1.7
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: js, browser

chore: update pnpm-lock
  pnpm-lock.yaml
Due: none

fix(browser-sample): add typescript to browser-sample dev dependencies
  packages/browser-sample/package.json
  pnpm-lock.yaml
Due: browser

chore(deps): update silverhand-io/actions-node-pnpm-run-steps action to v1.2.2
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

refactor(react): move statements to try blocks
  packages/react/src/hooks/index.ts
Due: none

feat(vue): create vue sdk
  packages/vue/jest.config.ts
  packages/vue/package.json
  packages/vue/src/consts.ts
  packages/vue/src/context.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
  packages/vue/tsconfig.build.json
  packages/vue/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(vue-sample): add vue sample project to demonstrate vue sdk
  packages/vue-sample/.eslintrc.cjs
  packages/vue-sample/env.d.ts
  packages/vue-sample/index.html
  packages/vue-sample/package.json
  packages/vue-sample/public/favicon.ico
  packages/vue-sample/src/App.vue
  packages/vue-sample/src/consts/index.ts
  packages/vue-sample/src/main.ts
  packages/vue-sample/src/router/index.ts
  packages/vue-sample/src/shims-vue.d.ts
  packages/vue-sample/src/views/CallbackView.vue
  packages/vue-sample/src/views/HomeView.vue
  packages/vue-sample/src/views/ProtectedResourceView.vue
  packages/vue-sample/tsconfig.json
  packages/vue-sample/tsconfig.vite-config.json
  packages/vue-sample/vite.config.ts
  pnpm-lock.yaml
Due: none

refactor(vue-sample): simplify code with 'setup' directive on script tag
  packages/vue-sample/src/views/CallbackView.vue
  packages/vue-sample/src/views/HomeView.vue
  packages/vue-sample/src/views/ProtectedResourceView.vue
Due: none

fix(vue-sample): include link dependency correctly in build options
  packages/vue-sample/vite.config.ts
Due: none

chore(deps): update dependency lerna to v5
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency husky to v8
  package.json
  pnpm-lock.yaml
Due: none

refactor(react): use LogtoClientError as error type in React SDK
  packages/react/jest.config.ts
  packages/react/jest.setup.js
  packages/react/src/context.tsx
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/react/src/provider.tsx
  packages/react/tsconfig.test.json
Due: none

refactor(vue): use LogtoClientError as error type in Vue SDK
  packages/vue/jest.config.ts
  packages/vue/jest.setup.js
  packages/vue/src/context.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  packages/vue/tsconfig.test.json
Due: none

refactor: export LogtoClientError from SDKs
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
Due: none

release: v0.1.8
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

chore: update lockfile
  pnpm-lock.yaml
Due: none

fix: 'LogtoClientError' should be exported as class instead of type
  packages/react/src/index.ts
  packages/vue/src/index.ts
Due: none

release: v0.1.9
  CHANGELOG.md
  lerna.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

refactor: expose OidcError class from SDKs
  packages/browser/src/index.ts
  packages/js/src/utils/errors.ts
  packages/react/src/index.ts
  packages/vue/src/index.ts
Due: js, browser

fix(js): oidc error description should be optional string
  packages/js/src/utils/errors.ts
Due: js

refactor: export more types and classes from SDKs
  packages/browser/src/index.ts
  packages/react/src/index.ts
  packages/vue/src/index.ts
Due: browser

release: v0.1.10
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

refactor(js): improve error data type in callback URI verification
  packages/js/src/utils/callback-uri.test.ts
  packages/js/src/utils/callback-uri.ts
  packages/js/src/utils/errors.test.ts
Due: js

release: v0.1.11
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

chore(deps): update commitlint monorepo to v17
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency node-fetch to v3
  packages/js/package.json
  pnpm-lock.yaml
Due: js

chore(deps): update dependency vue-tsc to ^0.35.0
  packages/vue-sample/package.json
  pnpm-lock.yaml
Due: none

refactor: use `console.error` to output all caught errors in debugger console
  packages/react/src/hooks/index.ts
  packages/vue/src/context.ts
Due: none

fix(react): calling getIdTokenClaims will not cause infinite loop
  packages/react/src/hooks/index.ts
Due: none

refactor: remove setIsAuthenticated false from sign out
  packages/react/src/hooks/index.ts
  packages/vue/src/plugin.ts
Due: none

release: v0.1.12
  CHANGELOG.md
  lerna.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

refactor: add 'profile' to reserved scopes in js sdk
  packages/browser/src/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/utils/scopes.test.ts
  packages/js/src/utils/scopes.ts
Due: js, browser

refactor: remove setIsAuthenticated true from handleSignInCallback
  packages/react/src/hooks/index.ts
  packages/vue/src/plugin.ts
Due: none

refactor: update comments
  packages/react/src/hooks/index.ts
  packages/vue/src/plugin.ts
Due: none

release: v0.1.13
  CHANGELOG.md
  lerna.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none
