Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

codecov.yml:

coverage:
  status:
    project:
      default: off
      js:
        target: auto
        threshold: 1%
        flags:
          - js
      browser:
        target: auto
        threshold: 1%
        flags:
          - browser

flags:
  js:
    paths:
      - ./packages/js
  browser:
    paths:
      - ./packages/browser

chore(next): add jsdoc to searchParamsOrUrl
  packages/next/server-actions/index.ts
Due: none

chore(next): add jsdoc to searchParamsOrUrl (#889)
  packages/next/server-actions/index.ts
Due: none

chore(nuxt): bump nuxt dependencies
  packages/nuxt/package.json
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/src/module.ts
  packages/nuxt/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(nuxt): export event handler
  .changeset/green-donkeys-decide.md
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/server/event-handler.ts
  packages/nuxt/src/runtime/utils/handler.ts
Due: none

chore(nuxt): bump nuxt dependencies (#891)
  packages/nuxt/package.json
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/src/module.ts
  packages/nuxt/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(nuxt): export event handler (#892)
  .changeset/green-donkeys-decide.md
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/server/event-handler.ts
  packages/nuxt/src/runtime/utils/handler.ts
Due: none

release: version packages
  .changeset/green-donkeys-decide.md
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

release: version packages (#894)
  .changeset/green-donkeys-decide.md
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

fix(browser): support ssr
  .changeset/neat-glasses-think.md
  packages/browser/src/storage.ts
Due: browser

feat(next): external storage
  .changeset/wise-colts-guess.md
  packages/next/edge/index.ts
  packages/next/server-actions/client.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
  packages/node/src/utils/cookie-storage.test.ts
  packages/node/src/utils/cookie-storage.ts
  packages/sveltekit/src/index.ts
Due: none

fix(browser): support ssr (#895)
  .changeset/neat-glasses-think.md
  packages/browser/src/storage.ts
Due: browser

release: version packages
  .changeset/neat-glasses-think.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

feat(next): external storage (#896)
  .changeset/wise-colts-guess.md
  packages/next/edge/index.ts
  packages/next/server-actions/client.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
  packages/node/src/utils/cookie-storage.test.ts
  packages/node/src/utils/cookie-storage.ts
  packages/sveltekit/src/index.ts
Due: none

release: version packages
  .changeset/neat-glasses-think.md
  .changeset/wise-colts-guess.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

chore: update client sdk readme
  packages/client/README.md
Due: none

chore: update client sdk readme (#905)
  packages/client/README.md
Due: none

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: none

chore: bump deps (#910)
  package.json
  pnpm-lock.yaml
Due: none

chore: bump vite
  package.json
  pnpm-lock.yaml
Due: none

chore: bump vite (#911)
  package.json
  pnpm-lock.yaml
Due: none

fix: fix Mock type issue
  packages/client/src/mock.ts
  packages/sveltekit/src/__mocks__/@sveltejs/kit.ts
  packages/vue/src/index.test.ts
Due: none

chore: update vitest coverage
  packages/browser/package.json
  packages/capacitor/package.json
  packages/client/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sveltekit/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

fix: fix express tests failures on ci
  packages/express/src/index.test.ts
Due: none

chore: bump deps for security update
  package.json
  packages/browser/package.json
  packages/capacitor/package.json
  packages/client/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sveltekit/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore: add changeset
  .changeset/strong-bears-check.md
Due: none

chore: bump deps for security update (#915)
  .changeset/strong-bears-check.md
  package.json
  packages/browser/package.json
  packages/capacitor/package.json
  packages/client/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sveltekit/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

feat(solid): add solid.js logto sdk
  packages/solid-sample/index.html
  packages/solid-sample/package.json
  packages/solid-sample/public/favicon.ico
  packages/solid-sample/src/App.tsx
  packages/solid-sample/src/app.css
  packages/solid-sample/src/consts/index.ts
  packages/solid-sample/src/index.tsx
  packages/solid-sample/src/pages/Callback.tsx
  packages/solid-sample/src/pages/Home.tsx
  packages/solid-sample/src/pages/Organizations.tsx
  packages/solid-sample/src/pages/ProtectedResource.tsx
  packages/solid-sample/tsconfig.json
  packages/solid-sample/vite.config.ts
  packages/solid/package.json
  packages/solid/rollup.config.js
  packages/solid/src/context.tsx
  packages/solid/src/hooks/index.test.tsx
  packages/solid/src/hooks/index.ts
  packages/solid/src/index.ts
  packages/solid/src/provider.tsx
  packages/solid/tsconfig.json
Due: none

refactor: throw more detailed error messages in client SDK
  packages/client/src/client.ts
  packages/client/src/index.test.ts
Due: none

chore: add changeset
  .changeset/hip-bears-swim.md
Due: none

feat(nuxt): add alias to enable import in server api
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/playground/server/api/auth/get-access-token.get.ts
  packages/nuxt/src/module.ts
Due: none

feat(nuxt): add alias to enable import in server api (#918)
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/playground/server/api/auth/get-access-token.get.ts
  packages/nuxt/src/module.ts
Due: none

fix: test case
  packages/client/src/index.test.ts
Due: none

refactor: throw more detailed error messages in client SDK (#919)
  .changeset/hip-bears-swim.md
  packages/client/src/client.ts
  packages/client/src/index.test.ts
Due: none

release: version packages
  .changeset/hip-bears-swim.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

fix: catch uncaught errors in middleware so it can be passed to the express error handler
  packages/express/src/index.ts
Due: none

feat(client): add new sign-in option to skip clearing tokens on sign-in
  packages/client/src/client.ts
  packages/client/src/index.sign-in.test.ts
Due: none
