Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

codecov.yml:

coverage:
  status:
    project:
      default: off
      js:
        target: auto
        threshold: 1%
        flags:
          - js
      browser:
        target: auto
        threshold: 1%
        flags:
          - browser

flags:
  js:
    paths:
      - ./packages/js
  browser:
    paths:
      - ./packages/browser

ci: build before test (#506)
  packages/browser/package.json
  packages/client/package.json
  packages/express/package.json
  packages/js/package.json
  packages/node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue/package.json
Due: js, browser

ci: build before publish
  .github/workflows/publish.yml
Due: none

ci: build before publish (#507)
  .github/workflows/publish.yml
Due: none

fix(next-sample): remove https for localhost default value
  packages/next-app-dir-sample/libraries/config.ts
  packages/next-sample/libraries/config.ts
Due: none

fix(js) Resolve that the fetch function does not exist at @types/node, waiting for types to be updated!
  packages/client/src/utils/requester.ts
  packages/js/src/types/index.ts
Due: js

fix(next-sample): remove https for localhost default value (#510)
  packages/next-app-dir-sample/libraries/config.ts
  packages/next-sample/libraries/config.ts
Due: none

chore: add typeVersions field in package.json of Next SDK(fixes #499)
  packages/next/package.json
Due: none

fix: add typeVersions field in package.json of Next SDK (#499) (#500)
  packages/next/package.json
Due: none

chore(deps): upgrade parcel
  packages/browser-sample/package.json
  packages/react-sample/package.json
  pnpm-lock.yaml
Due: browser

feat: add session cache for config and jwks
  packages/browser/src/cache.ts
  packages/browser/src/index.ts
  packages/browser/src/storage.test.ts
  packages/browser/src/storage.ts
  packages/client/src/adapter.ts
  packages/client/src/adapter/index.ts
  packages/client/src/adapter/types.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/remote-jwk-set.ts
  packages/client/src/utils/memoize.ts
  packages/express/src/storage.ts
  packages/next/src/storage.ts
  packages/remix/src/infrastructure/logto/create-storage.ts
Due: browser

refactor: bug fixes
  packages/browser/src/storage.test.ts
  packages/browser/src/storage.ts
  packages/client/src/index.ts
  packages/client/src/remote-jwk-set.ts
Due: browser

refactor: add test cases
  .vscode/settings.json
  packages/browser/src/cache.test.ts
  packages/browser/src/cache.ts
  packages/browser/src/index.ts
  packages/client/src/adapter/index.test.ts
  packages/client/src/adapter/index.ts
  packages/client/src/index.cache.test.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/remote-jwk-set.test.ts
  packages/client/src/remote-jwk-set.ts
  packages/react/src/hooks/index.test.tsx
  packages/react/src/provider.tsx
Due: browser

chore: add changeset
  .changeset/shiny-mirrors-rule.md
Due: none

refactor(client): reorg tests
  packages/client/src/index.constructor.test.ts
  packages/client/src/index.sign-in.test.ts
  packages/client/src/index.sign-out.test.ts
  packages/client/src/index.test.ts
Due: none

release: version packages
  .changeset/shiny-mirrors-rule.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  pnpm-lock.yaml
Due: browser

release: version packages (#515)
  .changeset/shiny-mirrors-rule.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  pnpm-lock.yaml
Due: browser

fix: unexpected error when handling sign-in callback in React and Vue SDKs
  .changeset/curvy-ways-confess.md
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
Due: none

fix: unexpected error when handling sign-in callback in React and Vue SDKs (#520)
  .changeset/curvy-ways-confess.md
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
Due: none

release: version packages
  .changeset/curvy-ways-confess.md
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#521)
  .changeset/curvy-ways-confess.md
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

chore: upgrade configs and packages
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next-app-dir-sample/package.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore: fix lint errors
  package.json
  packages/client/src/mock.ts
  packages/client/src/remote-jwk-set.ts
  packages/js/src/utils/errors.ts
  packages/next/src/client.ts
  packages/react/src/hooks/index.test.tsx
  packages/vue-sample/package.json
  pnpm-lock.yaml
Due: js

fix(client): use timestamp before issue token request to ensure expiresAt is smaller than token exp
  .changeset/cyan-apples-fold.md
  packages/client/src/index.ts
Due: none

fix(client): use timestamp before issue token request to ensure expiresAt is smaller than token exp (#522)
  .changeset/cyan-apples-fold.md
  packages/client/src/index.ts
Due: none

chore: update changeset message
  .changeset/cyan-apples-fold.md
Due: none

chore: update changeset message (#529)
  .changeset/cyan-apples-fold.md
Due: none

release: version packages
  .changeset/cyan-apples-fold.md
  packages/client/CHANGELOG.md
  packages/client/package.json
Due: none

release: version packages (#528)
  .changeset/cyan-apples-fold.md
  packages/client/CHANGELOG.md
  packages/client/package.json
Due: none

chore(react-sample): remove unnecessary useEffect dependency
  packages/react-sample/src/pages/Home/index.tsx
Due: none

chore(react-sample): remove unnecessary useEffect dependency (#532)
  packages/react-sample/src/pages/Home/index.tsx
Due: none

refactor: add comments
  packages/client/src/adapter/types.ts
  packages/client/src/index.ts
  packages/client/src/types/index.ts
  packages/client/src/utils/requester.ts
  packages/js/src/consts/index.ts
  packages/js/src/types/index.ts
Due: js

feat: capacitor sdk
  packages/browser/README.md
  packages/browser/src/index.ts
  packages/capacitor/CHANGELOG.md
  packages/capacitor/FixJsdomEnvironment.js
  packages/capacitor/README.md
  packages/capacitor/jest.config.js
  packages/capacitor/jest.setup.js
  packages/capacitor/package.json
  packages/capacitor/rollup.config.js
  packages/capacitor/src/index.test.ts
  packages/capacitor/src/index.ts
  packages/capacitor/tsconfig.build.json
  packages/capacitor/tsconfig.json
  packages/client/src/index.ts
  pnpm-lock.yaml
Due: browser

chore: add changesets
  .changeset/lazy-steaks-judge.md
  .changeset/mighty-plums-remain.md
  packages/capacitor/README.md
Due: none

refactor: remove boolean promise
  packages/capacitor/src/index.ts
  packages/client/src/errors.ts
  packages/client/src/index.ts
Due: none

chore: update README
  README.md
Due: none

feat: capacitor sdk (#535)
  .changeset/lazy-steaks-judge.md
  .changeset/mighty-plums-remain.md
  packages/browser/README.md
  packages/browser/src/index.ts
  packages/capacitor/CHANGELOG.md
  packages/capacitor/FixJsdomEnvironment.js
  packages/capacitor/README.md
  packages/capacitor/jest.config.js
  packages/capacitor/jest.setup.js
  packages/capacitor/package.json
  packages/capacitor/rollup.config.js
  packages/capacitor/src/index.test.ts
  packages/capacitor/src/index.ts
  packages/capacitor/tsconfig.build.json
  packages/capacitor/tsconfig.json
  packages/client/src/errors.ts
  packages/client/src/index.ts
  pnpm-lock.yaml
Due: browser

release: version packages
  .changeset/lazy-steaks-judge.md
  .changeset/mighty-plums-remain.md
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  pnpm-lock.yaml
Due: js, browser

release: version packages (#537)
  .changeset/lazy-steaks-judge.md
  .changeset/mighty-plums-remain.md
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  pnpm-lock.yaml
Due: js, browser

chore: update README (#536)
  README.md
Due: none

feat(express): support custom auth routes prefix
  .changeset/dull-scissors-walk.md
  packages/express/src/index.test.ts
  packages/express/src/index.ts
  packages/express/src/types.ts
Due: none
