Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

fix: leverage root `prepack` lifecycle for publish
  package.json
  packages/browser/package.json
  packages/js/package.json
  packages/react/package.json
Due: js, browser

fix: leverage root `prepack` lifecycle for publish (#235)
  package.json
  packages/browser/package.json
  packages/js/package.json
  packages/react/package.json
Due: js, browser

chore(deps): add renovate.json
  renovate.json
Due: none

chore(deps): add `:preserveSemverRanges` preset
  renovate.json
Due: none

chore(deps): update dependency @silverhand/ts-config to ^0.10.0
  packages/browser/package.json
  packages/js/package.json
  packages/react-sample/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

chore(deps): update actions/checkout action to v3
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

chore(deps): update codecov/codecov-action action to v3
  .github/workflows/main.yml
Due: none

chore(deps): update commitlint monorepo to v16
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/react-dom to v18
  packages/react-sample/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency lint-staged to v12
  packages/js/package.json
  pnpm-lock.yaml
Due: js

chore(deps): update dependency @silverhand/eslint-config to ^0.10.0
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/js/package.json
  packages/react-sample/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

chore(deps): update dependency @silverhand/ts-config-react to ^0.10.0
  packages/react-sample/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: none

refactor(js): rename clientId to appId in js SDKs
  packages/browser-sample/src/consts.js
  packages/browser-sample/src/index.js
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/browser/src/utils/index.test.ts
  packages/react-sample/src/App.tsx
  packages/react-sample/src/consts/index.ts
  packages/react/src/hooks/index.test.tsx
Due: browser

fix(browser): read/write refreshToken from/to localStorage only
  packages/browser/src/index.ts
Due: browser

fix(browser): remove session item after successful sign-in
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
Due: browser

chore(deps): update dependency stylelint to v14
  packages/browser-sample/package.json
  packages/react-sample/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: browser

chore(deps): update dependency @testing-library/react-hooks to v8
  packages/react/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/react to v18
  packages/react-sample/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update jest monorepo to v28
  packages/browser/package.json
  packages/js/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

chore(deps): update react monorepo to v18
  packages/react-sample/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @silverhand/eslint-config-react to ^0.10.0
  packages/browser-sample/package.json
  packages/react-sample/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: browser

refactor(js): bump eslint version
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/js/package.json
  packages/react-sample/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

release: v0.1.5
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: js, browser

fix: lockfile
  pnpm-lock.yaml
Due: none

fix: manually run script before publish
  .github/workflows/publish.yml
  package.json
Due: none

fix: manually run script before publish (#258)
  .github/workflows/publish.yml
  package.json
Due: none

chore(deps): update silverhand-io/actions-node-pnpm-run-steps action to v1.2.0
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

chore(deps): update silverhand-io/actions-node-pnpm-run-steps action to v1.2.1
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

chore: update commitlint script
  .github/workflows/commitlint.yml
Due: none

fix(ci): using `npx` for commitlint
  .github/workflows/commitlint.yml
Due: none

refactor(react): simplify callback logic in sample app
  packages/react-sample/src/pages/Callback/index.tsx
  packages/react/src/hooks/index.ts
Due: none

chore(deps): update dependency @silverhand/eslint-config to ^0.12.0
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/js/package.json
  packages/react-sample/package.json
  packages/react/package.json
Due: js, browser

chore(deps): update dependency @silverhand/eslint-config-react to ^0.12.0
  packages/browser-sample/package.json
  packages/react-sample/package.json
  packages/react/package.json
Due: browser

chore(deps): update dependency @silverhand/ts-config to ^0.12.0
  packages/browser/package.json
  packages/js/package.json
  packages/react-sample/package.json
  packages/react/package.json
Due: js, browser

chore(deps): update dependency @silverhand/ts-config-react to ^0.12.0
  packages/react-sample/package.json
  packages/react/package.json
Due: none

feat(react): add error prop to useLogto context
  packages/react/src/context.tsx
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/provider.tsx
Due: none

release: v0.1.6
  CHANGELOG.md
  lerna.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(browser): clear authenticated status before signing-in
  packages/browser/src/index.ts
Due: browser

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
