Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

release: v0.2.0
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

chore: update lockfile
  pnpm-lock.yaml
Due: none

refactor: export `Prompt`
  packages/browser/src/index.ts
  packages/react/src/index.ts
  packages/vue/src/index.ts
Due: browser

refactor: export `Prompt` (#318)
  packages/browser/src/index.ts
  packages/react/src/index.ts
  packages/vue/src/index.ts
Due: browser

release: v0.2.1
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

fix(browser): should use prompt param on sign-in
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
Due: browser

fix(browser): should use prompt param on sign-in (#319)
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
Due: browser

release: v0.2.2
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

ci: update publish workflow
  .github/workflows/publish.yml
  package.json
Due: none

ci: update publish workflow (#320)
  .github/workflows/publish.yml
  package.json
Due: none

fix: packing
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/js/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

refactor: add type check
  packages/browser/package.json
  packages/browser/tsconfig.build.json
  packages/js/package.json
  packages/js/tsconfig.build.json
  packages/react/package.json
  packages/react/tsconfig.build.json
  packages/vue/package.json
  packages/vue/tsconfig.build.json
Due: js, browser

fix: packing (#321)
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/browser/tsconfig.build.json
  packages/js/package.json
  packages/js/tsconfig.build.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/react/tsconfig.build.json
  packages/vue/package.json
  packages/vue/tsconfig.build.json
  pnpm-lock.yaml
Due: js, browser

chore: update publish workflow
  .github/workflows/publish.yml
Due: none

chore: update publish workflow (#322)
  .github/workflows/publish.yml
Due: none

ci: update workflows
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
Due: none

ci: update workflows (#323)
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
Due: none

release: v1.0.0-alpha.0
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

ci: add release workflow
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

ci: no `--since` in force publish
  .github/workflows/publish.yml
  package.json
Due: none

ci: fall back to empty string
  .github/workflows/publish.yml
Due: none

release: v1.0.0-alpha.1
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

feat(js): optimize error message for unavailable crypto.subtle in insecure contexts
  packages/js/src/utils/errors.ts
  packages/js/src/utils/generators.test.ts
  packages/js/src/utils/generators.ts
Due: js

chore: update README
  README.md
Due: none

feat(js): optimize error message for unavailable crypto.subtle in insecure contexts (#324)
  packages/js/src/utils/errors.ts
  packages/js/src/utils/generators.test.ts
  packages/js/src/utils/generators.ts
Due: js

release: v1.0.0-alpha.2
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

refactor: postLogoutRedirectUri should be optional param
  packages/react/src/hooks/index.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: none

chore: update README (#325)
  README.md
Due: none

release: v1.0.0-alpha.3
  CHANGELOG.md
  lerna.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: none

chore(js,browser): remove unnecessary todo comments
  packages/browser/src/errors.ts
  packages/js/jest.setup.js
  packages/js/src/utils/errors.ts
Due: js, browser

chore(js,browser): remove unnecessary todo comments (#328)
  packages/browser/src/errors.ts
  packages/js/jest.setup.js
  packages/js/src/utils/errors.ts
Due: js, browser

feat(client): add client package
  packages/client/jest.config.ts
  packages/client/jest.setup.js
  packages/client/package.json
  packages/client/src/errors.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/storage.ts
  packages/client/src/utils/index.test.ts
  packages/client/src/utils/index.ts
  packages/client/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(client): add client package (#329)
  packages/client/jest.config.ts
  packages/client/jest.setup.js
  packages/client/package.json
  packages/client/src/errors.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/storage.ts
  packages/client/src/utils/index.test.ts
  packages/client/src/utils/index.ts
  packages/client/tsconfig.json
  pnpm-lock.yaml
Due: none

refactor(browser): use client sdk
  packages/browser/package.json
  packages/browser/src/errors.ts
  packages/browser/src/include.d/dom.d.ts
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/browser/src/utils/index.test.ts
  packages/browser/src/utils/index.ts
  packages/client/src/index.ts
  packages/client/src/storage.ts
  packages/js/src/core/fetch-token.ts
  packages/js/src/core/oidc-config.ts
  packages/js/src/core/revoke.ts
  packages/js/src/index.ts
  packages/js/src/types/index.ts
  packages/js/src/utils/index.ts
  packages/js/src/utils/requester.node.test.ts
  packages/js/src/utils/requester.test.ts
  packages/js/src/utils/requester.ts
  pnpm-lock.yaml
Due: js, browser

refactor(browser): use client sdk (#330)
  packages/browser/package.json
  packages/browser/src/errors.ts
  packages/browser/src/include.d/dom.d.ts
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/browser/src/utils/index.test.ts
  packages/browser/src/utils/index.ts
  packages/client/src/index.ts
  packages/client/src/storage.ts
  packages/js/src/core/fetch-token.ts
  packages/js/src/core/oidc-config.ts
  packages/js/src/core/revoke.ts
  packages/js/src/index.ts
  packages/js/src/types/index.ts
  packages/js/src/utils/index.ts
  packages/js/src/utils/requester.node.test.ts
  packages/js/src/utils/requester.test.ts
  packages/js/src/utils/requester.ts
  pnpm-lock.yaml
Due: js, browser

refactor(browser): use client sdk
  pnpm-lock.yaml
Due: none

refactor(js,client,browser): move genrators into adapters
  packages/browser/package.json
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/browser/src/utils/generators.test.ts
  packages/browser/src/utils/generators.ts
  packages/client/jest.setup.js
  packages/client/package.json
  packages/client/src/adapter.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/storage.ts
  packages/js/jest.setup.js
  packages/js/package.json
  packages/js/src/utils/index.ts
  pnpm-lock.yaml
Due: js, browser

refactor(js,client,browser): move generators into adapters (#331)
  packages/browser/package.json
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/browser/src/utils/generators.test.ts
  packages/browser/src/utils/generators.ts
  packages/client/jest.setup.js
  packages/client/package.json
  packages/client/src/adapter.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/storage.ts
  packages/js/jest.setup.js
  packages/js/package.json
  packages/js/src/utils/index.ts
  pnpm-lock.yaml
Due: js, browser

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
