Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

refactor: fix js type
  .changeset/blue-dolls-turn.md
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
Due: js

refactor: keep the single string signature for sign-in
  packages/client/src/client.ts
Due: none

chore: add changeset
  .changeset/clean-games-lie.md
Due: none

refactor: fix types (#672)
  .changeset/blue-dolls-turn.md
  .changeset/chilly-pets-walk.md
  .changeset/clean-games-lie.md
  packages/client/src/client.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
Due: js

refactor: export more types from js sdk family
  packages/browser/src/index.ts
  packages/capacitor/src/index.ts
  packages/client/src/shim.ts
  packages/express/src/index.ts
  packages/next/edge/index.ts
  packages/next/src/index.ts
  packages/node/src/exports.ts
  packages/react/src/index.ts
  packages/remix/src/index.ts
  packages/sveltekit/src/index.ts
  packages/vue/src/index.ts
Due: browser

chore: add changeset
  .changeset/dry-pants-draw.md
Due: none

refactor: export more types from js sdks (#673)
  .changeset/dry-pants-draw.md
  packages/browser/src/index.ts
  packages/capacitor/src/index.ts
  packages/client/src/shim.ts
  packages/express/src/index.ts
  packages/next/edge/index.ts
  packages/next/src/index.ts
  packages/node/src/exports.ts
  packages/react/src/index.ts
  packages/remix/src/index.ts
  packages/sveltekit/src/index.ts
  packages/vue/src/index.ts
Due: browser

release: version packages
  .changeset/dry-pants-draw.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

feat: chrome extension and sample
  .changeset/blue-cups-kick.md
  .changeset/fast-kings-explode.md
  .changeset/strong-cheetahs-study.md
  .changeset/two-starfishes-walk.md
  packages/browser/src/index.ts
  packages/chrome-extension-sample/package.json
  packages/chrome-extension-sample/rollup.config.js
  packages/chrome-extension-sample/src/index.tsx
  packages/chrome-extension-sample/src/service-worker.ts
  packages/chrome-extension-sample/static/images/cube@128w.png
  packages/chrome-extension-sample/static/images/cube@16w.png
  packages/chrome-extension-sample/static/images/cube@32w.png
  packages/chrome-extension-sample/static/images/cube@48w.png
  packages/chrome-extension-sample/static/index.html
  packages/chrome-extension-sample/static/manifest.json
  packages/chrome-extension-sample/tsconfig.json
  packages/chrome-extension/README.md
  packages/chrome-extension/package.json
  packages/chrome-extension/src/index.ts
  packages/chrome-extension/src/storage.ts
  packages/chrome-extension/tsconfig.json
  packages/client/src/shim.ts
  packages/react/src/provider.tsx
  pnpm-lock.yaml
Due: browser

fix(deps): update dependency express to v4.19.2 [security]
  packages/angular-sample/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/passportjs-sample/package.json
  pnpm-lock.yaml
Due: none

chore: resolve cjs
  packages/chrome-extension-sample/package.json
  packages/chrome-extension-sample/rollup.config.js
  pnpm-lock.yaml
Due: none

feat: chrome extension and sample (#677)
  .changeset/blue-cups-kick.md
  .changeset/fast-kings-explode.md
  .changeset/strong-cheetahs-study.md
  .changeset/two-starfishes-walk.md
  packages/browser/src/index.ts
  packages/chrome-extension-sample/package.json
  packages/chrome-extension-sample/rollup.config.js
  packages/chrome-extension-sample/src/index.tsx
  packages/chrome-extension-sample/src/service-worker.ts
  packages/chrome-extension-sample/static/images/cube@128w.png
  packages/chrome-extension-sample/static/images/cube@16w.png
  packages/chrome-extension-sample/static/images/cube@32w.png
  packages/chrome-extension-sample/static/images/cube@48w.png
  packages/chrome-extension-sample/static/index.html
  packages/chrome-extension-sample/static/manifest.json
  packages/chrome-extension-sample/tsconfig.json
  packages/chrome-extension/README.md
  packages/chrome-extension/package.json
  packages/chrome-extension/src/index.ts
  packages/chrome-extension/src/storage.ts
  packages/chrome-extension/tsconfig.json
  packages/client/src/shim.ts
  packages/react/src/provider.tsx
  pnpm-lock.yaml
Due: browser

chore(deps): upgrade packages
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/capacitor/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next-app-dir-sample/package.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/passportjs-sample/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sveltekit/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore(deps): upgrade packages (#678)
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/capacitor/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next-app-dir-sample/package.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/passportjs-sample/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sveltekit/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

refactor: update chrome extension packages
  .changeset/curly-clocks-love.md
  README.md
  packages/chrome-extension-sample/README.md
  packages/chrome-extension-sample/static/manifest.json
  packages/chrome-extension/package.json
Due: none

refactor: update chrome extension packages (#679)
  .changeset/curly-clocks-love.md
  README.md
  packages/chrome-extension-sample/README.md
  packages/chrome-extension-sample/static/manifest.json
  packages/chrome-extension/package.json
Due: none

fix(client): clear access token storage on sign-in
  packages/client/src/client.ts
Due: none

test(client): add unit test
  packages/client/src/index.sign-in.test.ts
Due: none

chore: add changeset
  .changeset/clever-turkeys-deliver.md
Due: none

refactor(client): extract a function to clear access token
  packages/client/src/client.ts
Due: none

fix(client): clear access token storage on sign-in (#685)
  .changeset/clever-turkeys-deliver.md
  packages/client/src/client.ts
  packages/client/src/index.sign-in.test.ts
Due: none

release: version packages
  .changeset/clever-turkeys-deliver.md
  .changeset/curly-clocks-love.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

release: version packages (#680)
  .changeset/clever-turkeys-deliver.md
  .changeset/curly-clocks-love.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

feat(client): support specifying prompt on sign-in
  .changeset/curvy-ghosts-talk.md
  packages/client/src/client.ts
  packages/client/src/index.sign-in.test.ts
Due: none

feat(client): support specifying prompt on sign-in (#688)
  .changeset/curvy-ghosts-talk.md
  packages/client/src/client.ts
  packages/client/src/index.sign-in.test.ts
Due: none

release: version packages
  .changeset/curvy-ghosts-talk.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

release: version packages (#689)
  .changeset/curvy-ghosts-talk.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

feat(client,react,vue): export clearAccessToken method
  .changeset/loud-horses-enjoy.md
  packages/client/src/client.ts
  packages/client/src/index.test.ts
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: none

chore: update changeset
  .changeset/loud-horses-enjoy.md
Due: none

feat(client,react,vue): export clearAccessToken method (#690)
  .changeset/loud-horses-enjoy.md
  packages/client/src/client.ts
  packages/client/src/index.test.ts
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: none

release: version packages
  .changeset/loud-horses-enjoy.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

release: version packages (#691)
  .changeset/loud-horses-enjoy.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

feat(client): add function to clear all cached tokens
  packages/client/src/client.ts
Due: none

chore: add test
  packages/client/src/index.test.ts
Due: none

feat(react,vue): export new function to clear all cached tokens
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: none

chore: add changeset
  .changeset/bright-queens-grin.md
Due: none

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
