Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

chore: upgrade packages (#401)
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/client/src/adapter.ts
  packages/express-sample/package.json
  packages/express/package.json
  packages/express/src/types.ts
  packages/js/package.json
  packages/js/src/utils/errors.ts
  packages/next-sample/package.json
  packages/next/package.json
  packages/next/src/types.ts
  packages/node/package.json
  packages/node/src/types.ts
  packages/react-sample/package.json
  packages/react/package.json
  packages/react/src/hooks/index.test.tsx
  packages/vue-sample/package.json
  packages/vue/package.json
  packages/vue/src/index.test.ts
  pnpm-lock.yaml
Due: js, browser

release: v1.0.0-beta.4
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

fix(react,vue): do not set loading to false after calling signIn
  packages/react/src/hooks/index.ts
  packages/vue/src/plugin.ts
Due: none

fix(react,vue): do not set loading to false after calling signIn (#403)
  packages/react/src/hooks/index.ts
  packages/vue/src/plugin.ts
Due: none

feat(js,client): enable user endpoint in js core and client sdks
  packages/client/src/errors.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/js/src/core/index.ts
  packages/js/src/core/oidc-config.test.ts
  packages/js/src/core/oidc-config.ts
  packages/js/src/core/user-info.test.ts
  packages/js/src/core/user-info.ts
Due: js

feat(browser,react,vue): enable userinfo endpoint
  packages/browser-sample/src/pages/Home.js
  packages/browser/src/index.ts
  packages/react-sample/src/pages/Home/index.tsx
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/vue-sample/src/views/HomeView.vue
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: browser

release: v1.0.0-beta.5
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

fix: bump to essentials v1.2.1 to use utf-8 on decoding base64
  packages/browser/package.json
  packages/browser/src/utils/generators.test.ts
  packages/client/package.json
  packages/js/package.json
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
  packages/node/package.json
  packages/node/src/utils/generators.test.ts
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

release: v1.0.0-beta.6
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

fix: remove persist access token
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/types/index.ts
  packages/express/src/index.ts
  packages/next/src/index.ts
Due: none

chore: update default scopes and IdTokenClaim definition
  packages/browser-sample/src/index.js
  packages/browser/src/index.ts
  packages/client/package.json
  packages/client/src/index.ts
  packages/express/src/index.ts
  packages/js/package.json
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
  packages/js/src/utils/id-token.ts
  packages/js/src/utils/scopes.test.ts
  packages/js/src/utils/scopes.ts
  packages/next/src/index.ts
  packages/node/src/index.ts
  packages/react-sample/src/App.tsx
  packages/react/src/index.ts
  packages/vue-sample/src/main.ts
  packages/vue/src/index.ts
  pnpm-lock.yaml
Due: js, browser

fix: remove persist access token (#406)
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/types/index.ts
  packages/express/src/index.ts
  packages/next/src/index.ts
Due: none

refactor(js,client): remove superstruct
  package.json
  packages/client/package.json
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/types/index.ts
  packages/client/src/utils/requester.ts
  packages/js/package.json
  packages/js/src/utils/arbitrary-object.ts
  packages/js/src/utils/errors.test.ts
  packages/js/src/utils/errors.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
  packages/js/src/utils/index.ts
  pnpm-lock.yaml
Due: js

refactor(js,client): remove superstruct (#408)
  package.json
  packages/client/package.json
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/types/index.ts
  packages/client/src/utils/requester.ts
  packages/js/package.json
  packages/js/src/utils/arbitrary-object.ts
  packages/js/src/utils/errors.test.ts
  packages/js/src/utils/errors.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
  packages/js/src/utils/index.ts
  pnpm-lock.yaml
Due: js

release: v1.0.0-beta.7
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore: bump core-kit to v1.0.0-beta.14
  packages/client/package.json
  packages/js/package.json
  pnpm-lock.yaml
Due: js

release: v1.0.0-beta.8
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

docs(client): fix link on readme
  packages/client/README.md
Due: none

refactor(js,client,express,node): extract base error class
  packages/client/src/errors.ts
  packages/client/src/index.ts
  packages/express/src/errors.ts
  packages/express/src/index.ts
  packages/js/src/utils/errors.ts
  packages/node/src/index.ts
  pnpm-lock.yaml
Due: js

docs(client): fix link on readme (#412)
  packages/client/README.md
Due: none

feat(express,next,node): support fetchUserInfo
  packages/express-sample/src/app.ts
  packages/express/src/index.ts
  packages/express/src/types.ts
  packages/next-sample/pages/api/logto/user-info.ts
  packages/next-sample/pages/index.tsx
  packages/next/src/index.ts
  packages/next/src/types.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/node/src/types.ts
Due: none

feat(express,next,node): support fetchUserInfo (#413)
  packages/express-sample/src/app.ts
  packages/express/src/index.ts
  packages/express/src/types.ts
  packages/next-sample/pages/api/logto/user-info.ts
  packages/next-sample/pages/index.tsx
  packages/next/src/index.ts
  packages/next/src/types.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/node/src/types.ts
Due: none

release: v1.0.0-beta.9
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

docs: adds note about the Remix SDK
  README.md
Due: none

docs: adds note about the Remix SDK (#418)
  README.md
Due: none

fix(remix): use the correct sign-out redirect URL which comes down from the Logto instance
  packages/remix/src/useCases/handleSignOut/HandleSignOutController.ts
Due: none

release: v1.0.0-beta.10
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

feat(node,next,express): get access token with resource
  packages/express-sample/src/app.ts
  packages/express/src/index.ts
  packages/express/src/types.ts
  packages/next-sample/pages/api/protected-resource.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/node/src/types.ts
  packages/remix/src/index.ts
  packages/remix/src/infrastructure/logto/get-context.ts
  packages/remix/src/useCases/getContext/GetContextController.spec.ts
  packages/remix/src/useCases/getContext/GetContextController.ts
  packages/remix/src/useCases/getContext/GetContextUseCase.spec.ts
  packages/remix/src/useCases/getContext/GetContextUseCase.ts
  packages/remix/src/useCases/getContext/index.ts
Due: none

feat(node,next,express): get access token with resource (#420)
  packages/express-sample/src/app.ts
  packages/express/src/index.ts
  packages/express/src/types.ts
  packages/next-sample/pages/api/protected-resource.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/node/src/types.ts
  packages/remix/src/index.ts
  packages/remix/src/infrastructure/logto/get-context.ts
  packages/remix/src/useCases/getContext/GetContextController.spec.ts
  packages/remix/src/useCases/getContext/GetContextController.ts
  packages/remix/src/useCases/getContext/GetContextUseCase.spec.ts
  packages/remix/src/useCases/getContext/GetContextUseCase.ts
  packages/remix/src/useCases/getContext/index.ts
Due: none

fix(next-sample): fix undefined in getServerSideProps
  packages/next-sample/pages/profile-ssr.tsx
  packages/node/src/index.ts
Due: none

fix(next-sample): fix undefined in getServerSideProps (#423)
  packages/next-sample/pages/profile-ssr.tsx
  packages/node/src/index.ts
Due: none

release: v1.0.0-beta.11
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

fix(client): remove access token from storage after sign-out
  packages/client/src/index.test.ts
  packages/client/src/index.ts
Due: none

refactor(js,core): decode resource dynamically from access token on saving tokens
  packages/client/src/errors.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/utils/index.ts
  packages/js/src/utils/errors.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
Due: js

release: v1.0.0-beta.12
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: browser

fix: use `.mjs` for ESM files
  packages/browser/package.json
  packages/client/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue/package.json
Due: js, browser

fix: use `.mjs` for ESM files (#429)
  packages/browser/package.json
  packages/client/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue/package.json
Due: js, browser

release: v1.0.0-beta.13
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

docs: use correct import and parameter
  packages/remix/README.md
Due: none

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
