Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

ci: upgrade node workflow
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

ci: upgrade node workflow (#220)
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

fix: add `publishConfig` to packages
  packages/browser/package.json
  packages/js/package.json
  packages/react/package.json
Due: js, browser

release: v0.1.1-rc.0
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: js, browser

chore: update lockfile
  pnpm-lock.yaml
Due: none

fix: remove offline option when updating lockfile
  .github/workflows/publish.yml
Due: none

fix: remove `prepublish` script
  packages/browser/package.json
  packages/js/package.json
  packages/react/package.json
Due: js, browser

fix: remove `prepublish` script (#221)
  packages/browser/package.json
  packages/js/package.json
  packages/react/package.json
Due: js, browser

release: v0.1.2-rc.0
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: js, browser

chore: update `tsconfig.json`
  packages/browser/tsconfig.json
  packages/js/tsconfig.json
Due: js, browser

chore: change license to MIT
  packages/browser/package.json
  packages/js/package.json
  packages/react/package.json
Due: js, browser

chore: update `tsconfig.json` (#223)
  packages/browser/tsconfig.json
  packages/js/tsconfig.json
Due: js, browser

build: remove webpack
  packages/browser/package.json
  packages/browser/webpack.config.js
  packages/js/package.json
  packages/js/webpack.config.js
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

chore: change license to MIT (#224)
  packages/browser/package.json
  packages/js/package.json
  packages/react/package.json
Due: js, browser

chore: update project license
  LICENSE
Due: none

chore: update project license (#225)
  LICENSE
Due: none

build: remove webpack (#222)
  packages/browser/package.json
  packages/browser/webpack.config.js
  packages/js/package.json
  packages/js/webpack.config.js
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

release: v0.1.2-rc.1
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: js, browser

release: v0.1.2
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: js, browser

chore: add github repository urls
  packages/browser/package.json
  packages/js/package.json
  packages/react/package.json
Due: js, browser

chore: update vscode format on save settings
  .vscode/settings.json
Due: none

chore: export LogtoConfig type and bump typescript
  packages/react-sample/src/App.tsx
  packages/react/src/hooks/index.test.tsx
  packages/react/src/index.ts
  packages/react/src/provider.tsx
Due: none

refactor(browser): cache get access token promises by resource
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
Due: browser

refactor(react): improve hooks in react sdk
  packages/react-sample/src/pages/Callback/index.tsx
  packages/react/src/context.tsx
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/react/src/provider.tsx
Due: none

release: v0.1.3
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: js, browser

feat(core): resuse remote jwk set
  packages/browser/src/index.ts
Due: browser

refactor(browser): delete the expired access token in getAccessToken
  packages/browser/src/index.ts
Due: browser

test(browser): delete the expired access token in getAccessToken
  packages/browser/src/index.test.ts
Due: browser

refactor(browser): delete expired access token in getAccessToken (#232)
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
Due: browser

feat(browser): reuse remote jwks and odic config
  packages/browser/package.json
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  pnpm-lock.yaml
Due: browser

feat(browser): reuse remote jwks and odic config (#231)
  packages/browser/package.json
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  pnpm-lock.yaml
Due: browser

release: v0.1.4
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: browser

chore: pnpm i update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

release: v0.1.5
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: browser

chore: update lock file
  pnpm-lock.yaml
Due: none

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
