Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: client, react, playground, react-playground

ci(codecov): update coverage settings
  codecov.yml
  packages/client/jest.config.js
  packages/playground/razzle.config.js
  packages/react-playground/razzle.config.js
  packages/react/jest.config.js
Due: client, react, react-playground

ci: add codecov upload script
  .github/workflows/main.yml
  codecov.yml
  packages/client/package.json
  packages/playground/package.json
  packages/react-playground/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: client, react, react-playground

refactor(client): decodeIdToken
  packages/client/src/index.ts
  packages/client/src/modules/token-set.ts
  packages/client/src/utils/id-token.test.ts
  packages/client/src/utils/id-token.ts
  packages/react/src/auth-state.ts
  packages/react/src/reducer.ts
Due: client, react

refactor(client): decodeIdToken (#117)
  packages/client/src/index.ts
  packages/client/src/modules/token-set.ts
  packages/client/src/utils/id-token.test.ts
  packages/client/src/utils/id-token.ts
  packages/react/src/auth-state.ts
  packages/react/src/reducer.ts
Due: client, react

refactor: unit tests of logto client
  packages/client/src/index.test.ts
Due: client

style(client): rename logto to logtoClient
  packages/client/src/index.test.ts
Due: client

style(client): replace toBeCalled* to toHaveBeenCalled*
  packages/client/src/index.test.ts
Due: client

chore(client): fix typo 'environment'
  packages/client/src/index.test.ts
Due: client

style(client): rename fakeTokenResponse to tokenResponse
  packages/client/src/index.test.ts
Due: client

style(client): add line breaks
  packages/client/src/index.test.ts
Due: client

style(client): update test case description
  packages/client/src/index.test.ts
Due: client

refactor(js)!: initialize js/js package
  packages/js/jest.config.js
  packages/js/jest.setup.js
  packages/js/package.json
  packages/js/src/index.test.ts
  packages/js/src/index.ts
  packages/js/tsconfig.json
  packages/js/webpack.config.js
  pnpm-lock.yaml
Due: none

refactor(js)!: initialize js/js package (#122)
  packages/js/jest.config.js
  packages/js/jest.setup.js
  packages/js/package.json
  packages/js/src/index.test.ts
  packages/js/src/index.ts
  packages/js/tsconfig.json
  packages/js/webpack.config.js
  pnpm-lock.yaml
Due: none

test(client): grantTokenByRefreshToken
  packages/client/src/api/grant-token.test.ts
Due: client

refactor(js): move generators from js/client to js/js
  packages/client/package.json
  packages/client/src/constants.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/utils/assembler.test.ts
  packages/client/src/utils/assembler.ts
  packages/js/package.json
  packages/js/src/constants.ts
  packages/js/src/index.test.ts
  packages/js/src/index.ts
  packages/js/src/utils/generators.test.ts
  packages/js/src/utils/generators.ts
  pnpm-lock.yaml
Due: client

test(client): discover
  packages/client/src/api/discover.test.ts
Due: client

test(client): createRequester
  packages/client/src/utils/requester.node.test.ts
  packages/client/src/utils/requester.test.ts
Due: client

refactor(js): extract scope values to utils/scope.ts
  packages/js/src/constants.ts
  packages/js/src/index.ts
  packages/js/src/utils/generators.test.ts
  packages/js/src/utils/generators.ts
  packages/js/src/utils/scope.ts
Due: none

test(js): add unit tests of generateState and generateNonce
  packages/js/src/utils/generators.test.ts
Due: none

feat(js): generate state, nonce, code verifier and code challenge
  packages/js/package.json
  packages/js/src/utils/generators.test.ts
  packages/js/src/utils/generators.ts
  pnpm-lock.yaml
Due: none

feat(js): decodeIdToken
  packages/js/package.json
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
  pnpm-lock.yaml
Due: none

feat(js): generate state, code verifier and code challenge
  packages/js/package.json
  packages/js/src/index.test.ts
  packages/js/src/index.ts
  packages/js/src/utils/generators.test.ts
  packages/js/src/utils/generators.ts
  pnpm-lock.yaml
Due: none

feat(js): generate state, code verifier and code challenge (#125)
  packages/js/package.json
  packages/js/src/index.test.ts
  packages/js/src/index.ts
  packages/js/src/utils/generators.test.ts
  packages/js/src/utils/generators.ts
  pnpm-lock.yaml
Due: none

chore(js): replace isUrlSafe with UrlSafeBase64.isSafe
  packages/js/package.json
  packages/js/src/utils/generators.test.ts
  pnpm-lock.yaml
Due: none

chore(js): replace isUrlSafe with UrlSafeBase64.isSafe (#130)
  packages/js/package.json
  packages/js/src/utils/generators.test.ts
  pnpm-lock.yaml
Due: none

feat(js): decodeIdToken
  packages/js/package.json
  packages/js/src/index.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
  pnpm-lock.yaml
Due: none

feat(js): decodeIdToken (#128)
  packages/js/package.json
  packages/js/src/index.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
  pnpm-lock.yaml
Due: none

chore(js): remove unnecessary comment in unit tests
  packages/js/src/utils/generators.test.ts
Due: none

chore(js): remove unnecessary comment in unit tests (#129)
  packages/js/src/utils/generators.test.ts
Due: none

feat(js): verifyIdToken
  packages/js/package.json
  packages/js/src/utils/errors.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
  pnpm-lock.yaml
Due: none

feat(js): verifyIdToken (#127)
  packages/js/package.json
  packages/js/src/utils/errors.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
  pnpm-lock.yaml
Due: none

chore(js): add LogtoErrorCode.idToken.invalidToken
  packages/js/src/utils/errors.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
Due: none

chore(js): simplify LogtoErrorCode.invalidIat
  packages/js/src/utils/errors.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
Due: none

refactor(js): assign LogtoError code to message too
  packages/js/src/utils/errors.ts
Due: none

chore(js): add devDependency jest-matcher-specific-error
  packages/js/jest.config.js
  packages/js/package.json
  packages/js/tsconfig.json
  pnpm-lock.yaml
Due: none

test(js): replace toThrowError with toMatchError in id-token.test.ts
  packages/js/src/utils/id-token.test.ts
Due: none

chore: add bootstrap script to post-install stage
  package.json
Due: none

chore: fix typo in pull request template
  .github/pull_request_template.md
Due: none

Path conditions:
  client: any of: packages/client
  react: any of: packages/react
  playground: any of: packages/playround
  react-playground: any of: packages/react-playground
