Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

test(browser): storage test
  packages/browser/package.json
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/browser/src/storage.test.ts
  packages/browser/src/storage.ts
  pnpm-lock.yaml
Due: browser

test(browser): storage test (#333)
  packages/browser/package.json
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/browser/src/storage.test.ts
  packages/browser/src/storage.ts
  pnpm-lock.yaml
Due: browser

refactor(js,browser): reuse createRequester
  packages/browser/jest.setup.js
  packages/browser/package.json
  packages/browser/src/index.ts
  packages/client/src/include.d/dom.d.ts
  packages/client/src/index.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/requester.test.ts
  packages/client/src/utils/requester.ts
  packages/js/src/include.d/dom.d.ts
  pnpm-lock.yaml
Due: js, browser

refactor(js,browser): reuse createRequester (#332)
  packages/browser/jest.setup.js
  packages/browser/package.json
  packages/browser/src/index.ts
  packages/client/src/include.d/dom.d.ts
  packages/client/src/index.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/requester.test.ts
  packages/client/src/utils/requester.ts
  packages/js/src/include.d/dom.d.ts
  pnpm-lock.yaml
Due: js, browser

chore(deps): upgrade configs
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/js/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore(deps): upgrade configs (#345)
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/js/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

feat(node): node sdk
  packages/client/src/index.ts
  packages/node/jest.config.ts
  packages/node/package.json
  packages/node/src/include.d/node-fetch.d.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/node/src/utils/generators.test.ts
  packages/node/src/utils/generators.ts
  packages/node/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(node): node sdk (#338)
  packages/client/src/index.ts
  packages/node/jest.config.ts
  packages/node/package.json
  packages/node/src/include.d/node-fetch.d.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/node/src/utils/generators.test.ts
  packages/node/src/utils/generators.ts
  packages/node/tsconfig.json
  pnpm-lock.yaml
Due: none

chore: use default community health files
  .github/pull_request_template.md
Due: none

chore(deps): upgrade configs
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/js/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react-sample/src/App.tsx
  packages/react-sample/src/index.tsx
  packages/react-sample/src/pages/Callback/index.tsx
  packages/react-sample/src/pages/Home/index.tsx
  packages/react-sample/src/pages/ProtectedResource/index.tsx
  packages/react/README.md
  packages/react/package.json
  packages/react/src/hooks/index.test.tsx
  packages/react/src/provider.tsx
  packages/vue/package.json
  packages/vue/src/index.test.ts
  pnpm-lock.yaml
Due: js, browser

chore(deps): upgrade configs (#353)
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/js/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react-sample/src/App.tsx
  packages/react-sample/src/index.tsx
  packages/react-sample/src/pages/Callback/index.tsx
  packages/react-sample/src/pages/Home/index.tsx
  packages/react-sample/src/pages/ProtectedResource/index.tsx
  packages/react/README.md
  packages/react/package.json
  packages/react/src/hooks/index.test.tsx
  packages/react/src/provider.tsx
  packages/vue/package.json
  packages/vue/src/index.test.ts
  pnpm-lock.yaml
Due: js, browser

chore(deps): upgrade vite
  packages/vue-sample/package.json
  pnpm-lock.yaml
Due: none

chore: use default community health files (#352)
  .github/pull_request_template.md
Due: none

feat(next): init and sign in route
  packages/next-sample/.eslintrc
  packages/next-sample/.gitignore
  packages/next-sample/libraries/logto.ts
  packages/next-sample/next-env.d.ts
  packages/next-sample/package.json
  packages/next-sample/pages/api/sign-in.ts
  packages/next-sample/pages/index.tsx
  packages/next-sample/tsconfig.json
  packages/next/jest.config.ts
  packages/next/package.json
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/storage.test.ts
  packages/next/src/storage.ts
  packages/next/src/types.ts
  packages/next/tsconfig.json
  packages/node/src/index.ts
  pnpm-lock.yaml
Due: none

feat(next): init and sign in route (#339)
  packages/next-sample/.eslintrc
  packages/next-sample/.gitignore
  packages/next-sample/libraries/logto.ts
  packages/next-sample/next-env.d.ts
  packages/next-sample/package.json
  packages/next-sample/pages/api/sign-in.ts
  packages/next-sample/pages/index.tsx
  packages/next-sample/tsconfig.json
  packages/next/jest.config.ts
  packages/next/package.json
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/storage.test.ts
  packages/next/src/storage.ts
  packages/next/src/types.ts
  packages/next/tsconfig.json
  packages/node/src/index.ts
  pnpm-lock.yaml
Due: none

feat(next): add sign in callback route
  packages/next-sample/pages/api/sign-in-callback.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

feat(next): add sign in callback route (#348)
  packages/next-sample/pages/api/sign-in-callback.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

feat(next): with logto api route
  packages/next-sample/libraries/fetch-json.ts
  packages/next-sample/package.json
  packages/next-sample/pages/_app.tsx
  packages/next-sample/pages/api/protected-resource.ts
  packages/next-sample/pages/api/user.ts
  packages/next-sample/pages/index.tsx
  packages/next/package.json
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
  pnpm-lock.yaml
Due: none

feat(next): with logto api route (#355)
  packages/next-sample/libraries/fetch-json.ts
  packages/next-sample/package.json
  packages/next-sample/pages/_app.tsx
  packages/next-sample/pages/api/protected-resource.ts
  packages/next-sample/pages/api/user.ts
  packages/next-sample/pages/index.tsx
  packages/next/package.json
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
  pnpm-lock.yaml
Due: none

feat(next): sign out
  packages/next-sample/pages/api/sign-out.ts
  packages/next-sample/tsconfig.json
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

feat(next): sign out (#358)
  packages/next-sample/pages/api/sign-out.ts
  packages/next-sample/tsconfig.json
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

feat(client): persist access token
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/types/index.ts
  packages/next/src/index.ts
Due: none

feat(client): persist access token (#359)
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/types/index.ts
  packages/next/src/index.ts
Due: none

feat(next): grant access token and check expiration
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/storage.ts
Due: none

feat(next): grant access token and check expiration (#361)
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/storage.ts
Due: none

feat(next-sample): implement nextjs sample
  packages/next-sample/pages/index.tsx
  packages/next-sample/pages/protected.tsx
  packages/next-sample/vercel.json
Due: none

feat(next-sample): implement nextjs sample (#362)
  packages/next-sample/pages/index.tsx
  packages/next-sample/pages/protected.tsx
  packages/next-sample/vercel.json
Due: none

feat(next): ssr support
  packages/next-sample/pages/index.tsx
  packages/next-sample/pages/profile-ssr.tsx
  packages/next/src/index.ts
  packages/next/src/storage.ts
Due: none

feat(next): ssr support (#363)
  packages/next-sample/pages/index.tsx
  packages/next-sample/pages/profile-ssr.tsx
  packages/next/src/index.ts
  packages/next/src/storage.ts
Due: none

feat(next): set getAccessToken as an option
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
Due: none

feat(next): set getAccessToken as an option (#364)
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
Due: none

chore(deps): add react to next package
  packages/next/package.json
  pnpm-lock.yaml
Due: none

chore(deps): add react to next package (#365)
  packages/next/package.json
  pnpm-lock.yaml
Due: none

release: v1.0.0-beta.0
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

docs: add nextjs to readme
  README.md
Due: none

feat(next): handleAuthRoutes
  packages/next-sample/pages/api/logto/[action].ts
  packages/next-sample/pages/api/sign-in-callback.ts
  packages/next-sample/pages/api/sign-in.ts
  packages/next-sample/pages/api/sign-out.ts
  packages/next-sample/pages/api/user.ts
  packages/next-sample/pages/index.tsx
  packages/next-sample/pages/profile-ssr.tsx
  packages/next-sample/pages/protected.tsx
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

feat(next): handleAuthRoutes (#367)
  packages/next-sample/pages/api/logto/[action].ts
  packages/next-sample/pages/api/sign-in-callback.ts
  packages/next-sample/pages/api/sign-in.ts
  packages/next-sample/pages/api/sign-out.ts
  packages/next-sample/pages/api/user.ts
  packages/next-sample/pages/index.tsx
  packages/next-sample/pages/profile-ssr.tsx
  packages/next-sample/pages/protected.tsx
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

docs: add nextjs to readme (#366)
  README.md
Due: none

release: v1.0.0-beta.1
  CHANGELOG.md
  lerna.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  pnpm-lock.yaml
Due: none

chore(js): remove unused error code
  packages/js/src/utils/errors.ts
Due: js

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
