Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

chore(react): temporarily disable read only props rule
  packages/react/package.json
Due: none

chore: fix import
  packages/react-sample/src/pages/ReactQuery/index.tsx
Due: none

release: version packages
  .changeset/fifty-paws-switch.md
  packages/client/CHANGELOG.md
  packages/client/package.json
Due: none

release: version packages (#576)
  .changeset/fifty-paws-switch.md
  packages/client/CHANGELOG.md
  packages/client/package.json
Due: none

chore: update react-query sample
  packages/react-sample/src/pages/ReactQuery/index.tsx
Due: none

feat: support organizations
  packages/browser/src/index.ts
  packages/client/src/errors.ts
  packages/client/src/index.ts
  packages/client/src/types/index.ts
  packages/client/src/utils/index.test.ts
  packages/client/src/utils/index.ts
  packages/js/src/consts/index.ts
  packages/js/src/consts/openid.ts
  packages/js/src/core/fetch-token.ts
  packages/js/src/utils/id-token.ts
  packages/next-app-dir-sample/app/page.tsx
  packages/next-sample/pages/index.tsx
  packages/next-sample/pages/profile-ssr.tsx
  packages/next-server-actions-sample/app/page.tsx
  packages/react-sample/src/App.tsx
  packages/react-sample/src/pages/Home/index.tsx
  packages/react-sample/src/pages/Organizations/index.tsx
  packages/react-sample/src/pages/ProtectedResource/index.tsx
  packages/react-sample/src/pages/ReactQuery/index.tsx
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
Due: js, browser

refactor: add tests
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/types/index.test.ts
  packages/js/src/core/fetch-token.test.ts
  packages/next-server-actions-sample/package.json
  packages/react/src/hooks/index.test.tsx
Due: js

chore: add changesets
  .changeset/eighty-mugs-join.md
  .changeset/giant-squids-bathe.md
  .changeset/lucky-gifts-fail.md
  .changeset/polite-seals-shake.md
  .changeset/rich-waves-camp.md
  .changeset/sour-fishes-check.md
  .changeset/ten-maps-count.md
Due: none

refactor: align exports across packages
  .changeset/stupid-mails-sniff.md
  packages/capacitor/src/index.ts
  packages/express/src/index.ts
  packages/next/src/index.ts
  packages/node/src/index.ts
  packages/remix/src/index.ts
  packages/vue/src/index.ts
Due: none

refactor: align exports across packages (#581)
  .changeset/stupid-mails-sniff.md
  packages/capacitor/src/index.ts
  packages/express/src/index.ts
  packages/next/src/index.ts
  packages/node/src/index.ts
  packages/remix/src/index.ts
  packages/vue/src/index.ts
Due: none

release: version packages
  .changeset/eighty-mugs-join.md
  .changeset/giant-squids-bathe.md
  .changeset/lucky-gifts-fail.md
  .changeset/polite-seals-shake.md
  .changeset/rich-waves-camp.md
  .changeset/sour-fishes-check.md
  .changeset/stupid-mails-sniff.md
  .changeset/ten-maps-count.md
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

release: version packages (#582)
  .changeset/eighty-mugs-join.md
  .changeset/giant-squids-bathe.md
  .changeset/lucky-gifts-fail.md
  .changeset/polite-seals-shake.md
  .changeset/rich-waves-camp.md
  .changeset/sour-fishes-check.md
  .changeset/stupid-mails-sniff.md
  .changeset/ten-maps-count.md
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

refactor(js): increase ID token issued-at-time tolerance (iat) to 5 mins
  packages/js/src/utils/id-token.ts
Due: js

chore: add changeset
  .changeset/good-radios-brake.md
Due: none

test(js): update test case
  packages/js/src/utils/id-token.test.ts
Due: js

refactor(js): increase ID token issued-at-time tolerance (iat) to 5 mins (#583)
  .changeset/good-radios-brake.md
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
Due: js

release: version packages
  .changeset/good-radios-brake.md
  packages/js/CHANGELOG.md
  packages/js/package.json
Due: js

release: version packages (#584)
  .changeset/good-radios-brake.md
  packages/js/CHANGELOG.md
  packages/js/package.json
Due: js

feat: add passportjs sample
  packages/passportjs-sample/README.md
  packages/passportjs-sample/package.json
  packages/passportjs-sample/src/app.ts
  packages/passportjs-sample/src/config.ts
  packages/passportjs-sample/src/passport.ts
  packages/passportjs-sample/tsconfig.json
  pnpm-lock.yaml
Due: none

feat: add passportjs sample (#585)
  packages/passportjs-sample/README.md
  packages/passportjs-sample/package.json
  packages/passportjs-sample/src/app.ts
  packages/passportjs-sample/src/config.ts
  packages/passportjs-sample/src/passport.ts
  packages/passportjs-sample/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(next): support organizations
  .changeset/wet-bulldogs-attend.md
  packages/next-sample/libraries/config.ts
  packages/next-sample/pages/api/organizations.ts
  packages/next-sample/pages/index.tsx
  packages/next-server-actions-sample/app/page.tsx
  packages/next-server-actions-sample/libraries/logto.ts
  packages/next/edge/index.ts
  packages/next/server-actions/index.test.ts
  packages/next/server-actions/index.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

fix(next-sample): revise nextjs sample profile-ssr page redirect location
  packages/next-sample/pages/profile-ssr.tsx
Due: none

fix(next): revise nextjs sample profile-ssr page's redirect location (#588)
  packages/next-sample/pages/profile-ssr.tsx
Due: none

refactor(react): memorize hook methods to reduce unnecessary updates
  .changeset/nervous-hornets-grin.md
  packages/react/src/hooks/index.ts
Due: none

refactor(react): memorize hook methods to reduce unnecessary updates (#589)
  .changeset/nervous-hornets-grin.md
  packages/react/src/hooks/index.ts
Due: none

release: version packages
  .changeset/nervous-hornets-grin.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

release: version packages (#590)
  .changeset/nervous-hornets-grin.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(js,client,node): use btoa to replace buffer
  .changeset/gold-snails-exercise.md
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/js/package.json
  packages/node/edge/index.ts
  pnpm-lock.yaml
Due: js

refactor(js,client,node): use btoa to replace buffer (#591)
  .changeset/gold-snails-exercise.md
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/js/package.json
  packages/node/edge/index.ts
  pnpm-lock.yaml
Due: js

release: version packages
  .changeset/gold-snails-exercise.md
  packages/node/CHANGELOG.md
  packages/node/package.json
Due: none

release: version packages (#592)
  .changeset/gold-snails-exercise.md
  packages/node/CHANGELOG.md
  packages/node/package.json
Due: none

refactor(client,react): memoize and cache methods
  .changeset/cyan-cherries-speak.md
  .changeset/plenty-shirts-teach.md
  packages/client/src/index.ts
  packages/react/src/hooks/index.ts
Due: none

chore: update tests
  packages/client/src/index.sign-in.test.ts
  packages/client/src/mock.ts
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
Due: none

refactor(client,react): memoize and cache methods (#594)
  .changeset/cyan-cherries-speak.md
  .changeset/plenty-shirts-teach.md
  packages/client/src/index.sign-in.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
Due: none

release: version packages
  .changeset/cyan-cherries-speak.md
  .changeset/plenty-shirts-teach.md
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

release: version packages
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: browser

release: version packages (#595)
  .changeset/cyan-cherries-speak.md
  .changeset/plenty-shirts-teach.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: browser

feat(next): support organizations (#587)
  .changeset/wet-bulldogs-attend.md
  packages/next-sample/libraries/config.ts
  packages/next-sample/pages/api/organizations.ts
  packages/next-sample/pages/index.tsx
  packages/next-server-actions-sample/app/page.tsx
  packages/next-server-actions-sample/libraries/logto.ts
  packages/next/edge/index.ts
  packages/next/server-actions/index.test.ts
  packages/next/server-actions/index.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

chore: update dev-deps to resolve type errors
  packages/next/package.json
  pnpm-lock.yaml
Due: none

fix: type error
  packages/next-server-actions-sample/tsconfig.json
Due: none

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
