Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

chore(js): improve error messages
  packages/js/src/utils/errors.test.ts
  packages/js/src/utils/errors.ts
Due: js

chore(js): improve error messages (#370)
  packages/js/src/utils/errors.test.ts
  packages/js/src/utils/errors.ts
Due: js

chore(js): remove unused error code (#369)
  packages/js/src/utils/errors.ts
Due: js

refactor(js,client): createRequester
  packages/client/src/utils/requester.test.ts
  packages/client/src/utils/requester.ts
  packages/js/src/utils/errors.test.ts
  packages/js/src/utils/errors.ts
Due: js

refactor(js,client): createRequester (#371)
  packages/client/src/utils/requester.test.ts
  packages/client/src/utils/requester.ts
  packages/js/src/utils/errors.test.ts
  packages/js/src/utils/errors.ts
Due: js

feat(node): support client secret
  packages/client/src/types/index.ts
  packages/next-sample/libraries/logto.ts
  packages/node/src/index.ts
Due: none

feat(node): support client secret (#372)
  packages/client/src/types/index.ts
  packages/next-sample/libraries/logto.ts
  packages/node/src/index.ts
Due: none

chore: update react sdk readme
  packages/react/README.md
Due: none

chore: update vue sdk readme
  packages/vue/README.md
Due: none

chore(js): add README.md
  packages/js/README.md
Due: js

chore: add browser sdk readme
  packages/browser/README.md
Due: browser

feat(express): init express and add routes handler
  packages/express/jest.config.ts
  packages/express/package.json
  packages/express/src/errors.ts
  packages/express/src/index.test.ts
  packages/express/src/index.ts
  packages/express/src/storage.test.ts
  packages/express/src/storage.ts
  packages/express/src/test-utils.ts
  packages/express/src/types.ts
  packages/express/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(express): init express and add routes handler (#375)
  packages/express/jest.config.ts
  packages/express/package.json
  packages/express/src/errors.ts
  packages/express/src/index.test.ts
  packages/express/src/index.ts
  packages/express/src/storage.test.ts
  packages/express/src/storage.ts
  packages/express/src/test-utils.ts
  packages/express/src/types.ts
  packages/express/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(express): with logto
  packages/express/src/index.test.ts
  packages/express/src/index.ts
  packages/express/src/types.ts
  packages/next-sample/pages/index.tsx
  packages/next-sample/pages/profile-ssr.tsx
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/node/src/types.ts
Due: none

feat(express): with logto (#378)
  packages/express/src/index.test.ts
  packages/express/src/index.ts
  packages/express/src/types.ts
  packages/next-sample/pages/index.tsx
  packages/next-sample/pages/profile-ssr.tsx
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/node/src/types.ts
Due: none

release: v1.0.0-beta.2
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

refactor(client): remove unused constants
  packages/client/src/mock.ts
Due: none

feat(express-sample): add express sample code
  packages/express-sample/package.json
  packages/express-sample/src/app.ts
  packages/express-sample/src/logto.ts
  packages/express-sample/tsconfig.json
  pnpm-lock.yaml
Due: none

refactor(client): remove unused constants (#379)
  packages/client/src/mock.ts
Due: none

feat(express-sample): add express sample code (#380)
  packages/express-sample/package.json
  packages/express-sample/src/app.ts
  packages/express-sample/src/logto.ts
  packages/express-sample/tsconfig.json
  pnpm-lock.yaml
Due: none

refactor(express): extract class into functions
  packages/express-sample/src/app.ts
  packages/express-sample/src/logto.ts
  packages/express/package.json
  packages/express/src/index.test.ts
  packages/express/src/index.ts
  packages/express/src/test-utils.ts
  packages/express/src/types.ts
  pnpm-lock.yaml
Due: none

refactor(express): extract class into functions (#382)
  packages/express-sample/src/app.ts
  packages/express-sample/src/logto.ts
  packages/express/package.json
  packages/express/src/index.test.ts
  packages/express/src/index.ts
  packages/express/src/test-utils.ts
  packages/express/src/types.ts
  pnpm-lock.yaml
Due: none

docs(client): add readme
  packages/client/README.md
Due: none

docs(express): add readme
  packages/express/README.md
Due: none

docs(next): add readme
  packages/next/README.md
Due: none

docs(next): add readme (#386)
  packages/next/README.md
Due: none

docs(express): add readme (#387)
  packages/express/README.md
Due: none

docs(client): add readme (#384)
  packages/client/README.md
Due: none

docs(node): add readme
  packages/node/README.md
Due: none

fix: cr
  packages/node/README.md
Due: none

docs(node): add readme (#385)
  packages/node/README.md
Due: none

refactor: make storage functions async
  packages/browser/src/storage.test.ts
  packages/browser/src/storage.ts
  packages/client/src/adapter.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/express-sample/package.json
  packages/express/src/storage.test.ts
  packages/express/src/storage.ts
  packages/next/src/storage.test.ts
  packages/next/src/storage.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/react-sample/src/pages/Home/index.tsx
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/provider.tsx
  packages/vue-sample/src/views/HomeView.vue
  packages/vue/src/context.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
  pnpm-lock.yaml
Due: browser

release: v1.0.0-beta.3
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: browser

fix(browser-sample): make sign-in work again
  packages/browser-sample/src/pages/Home.js
Due: browser

fix(browser-sample): make sign-in work again (#389)
  packages/browser-sample/src/pages/Home.js
Due: browser

chore(vue-sample): change default port number to 3000
  packages/vue-sample/vite.config.ts
Due: none

fix(react,vue): fix mis-handled isAuthenticated state in react and vue sdks
  packages/react-sample/src/RequireAuth.ts
  packages/react/src/provider.tsx
  packages/vue/src/context.ts
Due: none

chore: upgrade packages
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore: upgrade pacakges
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/client/src/adapter.ts
  packages/express-sample/package.json
  packages/express/package.json
  packages/express/src/types.ts
  packages/js/package.json
  packages/js/src/utils/errors.ts
  packages/next-sample/package.json
  packages/next/package.json
  packages/next/src/types.ts
  packages/node/package.json
  packages/node/src/types.ts
  packages/react-sample/package.json
  packages/react/package.json
  packages/react/src/hooks/index.test.tsx
  packages/vue-sample/package.json
  packages/vue/package.json
  packages/vue/src/index.test.ts
  pnpm-lock.yaml
Due: js, browser

chore: fix tests
  packages/react/src/hooks/index.test.tsx
  packages/vue/src/index.test.ts
Due: none

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
