Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

codecov.yml:

coverage:
  status:
    project:
      default: off
      js:
        target: auto
        threshold: 1%
        flags:
          - js
      browser:
        target: auto
        threshold: 1%
        flags:
          - browser

flags:
  js:
    paths:
      - ./packages/js
  browser:
    paths:
      - ./packages/browser

docs: use correct import and parameter (#430)
  packages/remix/README.md
Due: none

refactor(client): remove refresh token concurrent request protection
  packages/client/src/index.test.ts
  packages/client/src/index.ts
Due: none

feat(next-sample): upgrade to next 13
  packages/next-sample/package.json
  packages/next-sample/pages/index.tsx
  packages/next-sample/pages/protected.tsx
  pnpm-lock.yaml
Due: none

feat(next-sample): upgrade to next 13 (#433)
  packages/next-sample/package.json
  packages/next-sample/pages/index.tsx
  packages/next-sample/pages/protected.tsx
  pnpm-lock.yaml
Due: none

refactor(client): remove refresh token concurrent request protection (#432)
  packages/client/src/index.test.ts
  packages/client/src/index.ts
Due: none

chore: update `package.json`
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore: update `package.json` (#437)
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

release: v1.0.0-beta.14
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

fix: links in README
  packages/next/README.md
Due: none

fix: links in README (#438)
  packages/next/README.md
Due: none

feat(client): remove scope for access token grant
  packages/client/src/index.ts
Due: none

feat(client): remove scope for access token grant (#439)
  packages/client/src/index.ts
Due: none

release: v1.0.0-beta.15
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: browser

fix: remove core-kit dependency and update `engines`
  packages/client/package.json
  packages/client/src/index.ts
  packages/express/package.json
  packages/js/package.json
  packages/js/src/core/sign-in.test.ts
  packages/js/src/utils/scopes.test.ts
  packages/js/src/utils/scopes.ts
  packages/next/package.json
  packages/node/package.json
  packages/remix/package.json
  pnpm-lock.yaml
Due: js

chore: upgrade packages
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore: fix build errors
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .npmrc
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/src/index.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/utils/scopes.test.ts
  packages/js/src/utils/scopes.ts
  packages/node/package.json
  packages/react-sample/package.json
  pnpm-lock.yaml
Due: js, browser

release: v1.0.0-rc.0
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

fix: remove deperecated role names
  packages/js/src/core/user-info.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
Due: js

fix: remove deperecated role names (#442)
  packages/js/src/core/user-info.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
Due: js

refactor(js): replace idtokenHint with clientId in signout uri
  packages/client/src/index.ts
  packages/js/src/core/sign-out.test.ts
  packages/js/src/core/sign-out.ts
Due: js

fix(js): fix ut
  packages/client/src/index.test.ts
Due: none

chore(ui): remove all logto.dev endpoint in sample apps
  packages/browser-sample/src/consts.js
  packages/express-sample/src/app.ts
  packages/next-sample/libraries/logto.ts
  packages/react-sample/src/consts/index.ts
  packages/vue-sample/src/consts/index.ts
Due: browser

chore: add nullable to UserInfoResponse type properties
  packages/js/src/core/user-info.ts
Due: js

chore: add nullable to UserInfoResponse type properties (#447)
  packages/js/src/core/user-info.ts
Due: js

refactor(js): replace idTokenHint with clientId in sign out URI (#446)
  packages/browser-sample/src/consts.js
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/express-sample/src/app.ts
  packages/js/src/core/sign-out.test.ts
  packages/js/src/core/sign-out.ts
  packages/next-sample/libraries/logto.ts
  packages/react-sample/src/consts/index.ts
  packages/vue-sample/src/consts/index.ts
Due: js, browser

release: v1.0.0
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

feat(js): add interactionMode props to signIn method
  packages/browser/src/index.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/express/src/index.test.ts
  packages/express/src/index.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
  packages/js/src/types/index.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/node/src/index.ts
  packages/react-sample/src/pages/Home/index.module.scss
  packages/react-sample/src/pages/Home/index.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: js, browser

fix(js): add sign-up route handler
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

release: v1.1.0
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore: bump @silverhand/essentials to 2.5.0
  packages/browser/package.json
  packages/client/package.json
  packages/js/package.json
  packages/node/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

fix(vue,vue-sample): remove the mis-use of watchEffect
  packages/vue-sample/src/views/HomeView.vue
  packages/vue/src/context.ts
Due: none

test(vue): add test case for fetchUserInfo
  packages/vue/src/index.test.ts
Due: none

fix(next-sample): use location assign for sign in redirect
  packages/next-sample/pages/index.tsx
Due: none

fix(next-sample): use location assign for sign in redirect (#465)
  packages/next-sample/pages/index.tsx
Due: none

chore: remove lodash
  packages/browser/package.json
  packages/client/package.json
  packages/client/src/errors.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/utils/once.ts
  packages/js/package.json
  packages/js/src/utils/callback-uri.test.ts
  packages/js/src/utils/callback-uri.ts
  packages/js/src/utils/errors.test.ts
  packages/js/src/utils/errors.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

test(vue): add test case for fetchUserInfo (#464)
  packages/vue/src/index.test.ts
Due: none

refactor(client): remove unnecessary error handling
  packages/client/src/errors.ts
  packages/client/src/index.ts
Due: none

chore: ignore vercel cache
  .gitignore
  packages/next-sample/.gitignore
Due: none

refactor(client): remove unnecessary error handling (#467)
  packages/client/src/errors.ts
  packages/client/src/index.ts
Due: none
