Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

codecov.yml:

coverage:
  status:
    project:
      default: off
      js:
        target: auto
        threshold: 1%
        flags:
          - js
      browser:
        target: auto
        threshold: 1%
        flags:
          - browser

flags:
  js:
    paths:
      - ./packages/js
  browser:
    paths:
      - ./packages/browser

feat(react-router): add request middleware
  packages/react-router/package.json
  packages/react-router/src/create-logto-react-router.ts
  packages/react-router/src/index.ts
  packages/react-router/src/infrastructure/session/session-runtime.spec.ts
  packages/react-router/src/infrastructure/session/session-runtime.ts
  packages/react-router/src/middleware/create-middleware.spec.ts
  packages/react-router/src/middleware/create-middleware.ts
  packages/react-router/src/middleware/request-context.spec.ts
  packages/react-router/src/middleware/request-context.ts
  packages/react-router/src/types.ts
  packages/react-router/vitest.config.ts
Due: none

feat(react-router)!: replace InteractionMode type export
  .changeset/neat-mirrors-rest.md
  packages/client/src/shim.ts
  packages/node/src/exports.ts
  packages/react-router/src/index.ts
Due: none

fix(react-router): validate sample auth actions
  packages/react-router-sample/app/routes/api.logto.$action.ts
  packages/react-router-sample/app/services/auth.server.ts
Due: none

feat(react-router): support React Router 8
  .changeset/quick-tools-rest.md
  packages/react-router/README.md
  packages/react-router/package.json
  packages/react-router/src/auth-routes/auth-routes.spec.ts
  packages/react-router/src/auth-routes/auth-routes.ts
Due: none

feat(react-router): add dynamic callback redirects
  .changeset/clean-pandas-return.md
  packages/react-router/README.md
  packages/react-router/src/auth-routes/auth-routes.spec.ts
  packages/react-router/src/auth-routes/auth-routes.ts
  packages/react-router/src/index.ts
Due: none

chore!: require Node.js 22
  .changeset/modern-nodes-run.md
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  package.json
  packages/express/package.json
  packages/next/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/react-router/package.json
  packages/remix/package.json
  packages/sveltekit/package.json
Due: none

refactor(client): simplify response parsing
  .changeset/calm-responses-read.md
  .changeset/fresh-nodes-fetch.md
  packages/client/src/utils/requester.test.ts
  packages/client/src/utils/requester.ts
  packages/node/README.md
  packages/node/src/include.d/node-fetch.d.ts
Due: none

feat(client): support request timeouts
  .changeset/brave-browsers-fetch.md
  .changeset/bright-extensions-fetch.md
  .changeset/calm-nodes-fetch.md
  .changeset/tidy-ravens-wait.md
  packages/browser/src/index.ts
  packages/chrome-extension/src/index.ts
  packages/client/README.md
  packages/client/package.json
  packages/client/src/adapter/defaults.test.ts
  packages/client/src/adapter/defaults.ts
  packages/client/src/adapter/index.test.ts
  packages/client/src/adapter/index.ts
  packages/client/src/adapter/types.ts
  packages/client/src/client.ts
  packages/client/src/index.sign-out.test.ts
  packages/client/src/index.test.ts
  packages/client/src/mock.ts
  packages/client/src/request-timeout.ts
  packages/client/src/shim.ts
  packages/client/src/types/index.test.ts
  packages/client/src/types/index.ts
  packages/client/src/utils/requester.test.ts
  packages/client/src/utils/requester.ts
  packages/node/edge/index.test.ts
  packages/node/edge/index.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/node/src/utils/adapter-transport.test.ts
  packages/node/src/utils/adapter-transport.ts
  packages/react-router/README.md
  packages/react-router/src/middleware/create-middleware.spec.ts
  packages/react-router/src/middleware/create-middleware.test-utils.ts
  pnpm-lock.yaml
Due: browser

refactor(client): simplify response parsing (#1177)
  .changeset/calm-responses-read.md
  .changeset/fresh-nodes-fetch.md
  packages/client/src/utils/requester.test.ts
  packages/client/src/utils/requester.ts
  packages/node/README.md
  packages/node/src/include.d/node-fetch.d.ts
Due: none

feat(client): support request timeouts (#1175)
  .changeset/brave-browsers-fetch.md
  .changeset/bright-extensions-fetch.md
  .changeset/calm-nodes-fetch.md
  .changeset/tidy-ravens-wait.md
  packages/browser/src/index.ts
  packages/chrome-extension/src/index.ts
  packages/client/README.md
  packages/client/package.json
  packages/client/src/adapter/defaults.test.ts
  packages/client/src/adapter/defaults.ts
  packages/client/src/adapter/index.test.ts
  packages/client/src/adapter/index.ts
  packages/client/src/adapter/types.ts
  packages/client/src/client.ts
  packages/client/src/index.sign-out.test.ts
  packages/client/src/index.test.ts
  packages/client/src/mock.ts
  packages/client/src/request-timeout.ts
  packages/client/src/shim.ts
  packages/client/src/types/index.test.ts
  packages/client/src/types/index.ts
  packages/client/src/utils/requester.test.ts
  packages/client/src/utils/requester.ts
  packages/node/edge/index.test.ts
  packages/node/edge/index.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/node/src/utils/adapter-transport.test.ts
  packages/node/src/utils/adapter-transport.ts
  packages/react-router/README.md
  packages/react-router/src/middleware/create-middleware.spec.ts
  packages/react-router/src/middleware/create-middleware.test-utils.ts
  pnpm-lock.yaml
Due: browser

chore!: require Node.js 22 (#1176)
  .changeset/modern-nodes-run.md
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  package.json
  packages/express/package.json
  packages/next/package.json
  packages/node/package.json
  packages/nuxt/package.json
  packages/react-router/package.json
  packages/remix/package.json
  packages/sveltekit/package.json
Due: none

feat: expose token claim helpers in server SDKs
  .changeset/soft-cats-claim.md
  packages/next/server-actions/index.test.ts
  packages/next/server-actions/index.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/react-router/README.md
  packages/react-router/src/middleware/request-context.spec.ts
  packages/react-router/src/middleware/request-context.ts
Due: none

feat(client): support organization access token claims
  .changeset/soft-cats-claim.md
  packages/angular/src/service.test.ts
  packages/angular/src/service.ts
  packages/client/src/client.ts
  packages/client/src/index.test.ts
  packages/next/server-actions/index.test.ts
  packages/next/server-actions/index.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/node/src/client.ts
  packages/node/src/index.test.ts
  packages/react-router/README.md
  packages/react-router/src/middleware/request-context.spec.ts
  packages/react-router/src/middleware/request-context.ts
Due: none

fix(node): reuse fetched access token
  packages/client/src/shim.ts
  packages/node/src/client.ts
  packages/node/src/index.test.ts
Due: none

feat: expose shared exports from platform SDKs
  .changeset/neat-tools-export.md
  .changeset/soft-cats-claim.md
  packages/angular/src/index.ts
  packages/browser/src/index.ts
  packages/capacitor/src/index.ts
  packages/express/src/index.ts
  packages/next/edge/index.ts
  packages/next/src/index.ts
  packages/node/edge/index.ts
  packages/node/src/exports.ts
  packages/react-router/src/index.ts
  packages/react/src/index.ts
  packages/remix/src/index.ts
  packages/sveltekit/src/index.ts
  packages/vue/src/index.ts
Due: browser

docs: clarify token claim changeset
  .changeset/soft-cats-claim.md
Due: none

feat: align token claim helpers across SDKs
  .changeset/neat-tools-export.md
  .changeset/soft-cats-claim.md
  packages/angular/src/index.ts
  packages/angular/src/service.test.ts
  packages/angular/src/service.ts
  packages/browser/src/index.ts
  packages/capacitor/src/index.ts
  packages/client/src/client.ts
  packages/client/src/index.test.ts
  packages/client/src/shim.ts
  packages/express/src/index.ts
  packages/next/edge/index.ts
  packages/next/server-actions/index.test.ts
  packages/next/server-actions/index.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/node/edge/index.ts
  packages/node/src/client.ts
  packages/node/src/exports.ts
  packages/node/src/index.test.ts
  packages/react-router/README.md
  packages/react-router/src/index.ts
  packages/react-router/src/middleware/request-context.spec.ts
  packages/react-router/src/middleware/request-context.ts
  packages/react/src/index.ts
  packages/remix/src/index.ts
  packages/sveltekit/src/index.ts
  packages/vue/src/index.ts
Due: browser

fix: preserve sign-out failure details
  .changeset/tough-bears-leave.md
  packages/next/edge/index.test.ts
  packages/next/edge/index.ts
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/remix/src/useCases/handleSignOut/HandleSignOutController.spec.ts
  packages/remix/src/useCases/handleSignOut/HandleSignOutController.ts
  packages/remix/src/useCases/handleSignOut/HandleSignOutUseCase.spec.ts
  packages/remix/src/useCases/handleSignOut/HandleSignOutUseCase.ts
  packages/vue/src/index.test.ts
  packages/vue/src/plugin.ts
Due: none

fix: clear local state before remote sign-out
  .changeset/tough-bears-leave.md
  packages/angular/src/service.test.ts
  packages/angular/src/service.ts
  packages/client/src/client.ts
  packages/client/src/index.sign-out.test.ts
  packages/next/edge/index.test.ts
  packages/next/edge/index.ts
  packages/next/server-actions/client.test.ts
  packages/next/server-actions/client.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/react-router/src/infrastructure/session/session-runtime.spec.ts
  packages/react-router/src/infrastructure/session/session-runtime.ts
  packages/react-router/src/middleware/create-middleware.spec.ts
  packages/react-router/src/middleware/create-middleware.test-utils.ts
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/remix/src/framework/mocks.ts
  packages/remix/src/useCases/handleSignOut/HandleSignOutController.spec.ts
  packages/remix/src/useCases/handleSignOut/HandleSignOutController.ts
  packages/remix/src/useCases/handleSignOut/HandleSignOutUseCase.spec.ts
  packages/remix/src/useCases/handleSignOut/HandleSignOutUseCase.ts
  packages/vue/src/index.test.ts
  packages/vue/src/plugin.ts
Due: none

feat(client): stabilize cache configuration
  .changeset/stable-cache-adapters.md
  packages/angular/README.md
  packages/angular/src/provider.test.ts
  packages/angular/src/provider.ts
  packages/browser/README.md
  packages/browser/src/cache.test.ts
  packages/browser/src/cache.ts
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/capacitor/README.md
  packages/capacitor/src/index.test.ts
  packages/capacitor/src/index.ts
  packages/chrome-extension/README.md
  packages/chrome-extension/package.json
  packages/chrome-extension/src/index.test.ts
  packages/chrome-extension/src/index.ts
  packages/chrome-extension/src/storage.test.ts
  packages/chrome-extension/src/storage.ts
  packages/chrome-extension/tsconfig.build.json
  packages/chrome-extension/tsconfig.json
  packages/chrome-extension/vitest.config.ts
  packages/client/README.md
  packages/client/src/adapter/index.test.ts
  packages/client/src/adapter/index.ts
  packages/client/src/adapter/types.ts
  packages/client/src/mock.ts
  packages/node/README.md
  packages/node/edge/index.test.ts
  packages/node/edge/index.ts
  packages/node/src/index.test.ts
  packages/node/src/index.ts
  packages/node/src/utils/cache.test.ts
  packages/node/src/utils/cache.ts
  packages/react/README.md
  packages/react/src/hooks/index.test.tsx
  packages/react/src/provider.tsx
  packages/vue/README.md
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  pnpm-lock.yaml
Due: browser

test(chrome-extension): run tests in CI
  packages/chrome-extension/package.json
  pnpm-lock.yaml
Due: none

fix(react-router): coordinate new sessions locally
  .changeset/local-session-coordinator.md
  packages/react-router/README.md
  packages/react-router/src/infrastructure/session/session-runtime.coordination.spec.ts
  packages/react-router/src/infrastructure/session/session-runtime.spec.ts
  packages/react-router/src/infrastructure/session/session-runtime.ts
Due: none

fix(next): require response headers for token clearing
  packages/next/edge/index.test.ts
  packages/next/edge/index.ts
Due: none

docs: clarify token clearing changeset
  .changeset/tame-dodos-clear.md
Due: none

feat(platform): expose token clearing APIs
  .changeset/tame-dodos-clear.md
  packages/next/edge/index.test.ts
  packages/next/edge/index.ts
  packages/next/server-actions/index.test.ts
  packages/next/server-actions/index.ts
  packages/next/src/index.token-clearing.test.ts
  packages/next/src/index.ts
  packages/react-router/README.md
  packages/react-router/src/middleware/request-context.spec.ts
  packages/react-router/src/middleware/request-context.token-clearing.spec.ts
  packages/react-router/src/middleware/request-context.ts
Due: none

feat(nuxt): support client-side access token retrieval
  .changeset/nuxt-access-token.md
  packages/nuxt/README.md
  packages/nuxt/playground/app.vue
  packages/nuxt/playground/server/api/auth/get-access-token.get.ts
  packages/nuxt/playground/server/api/protected-resource.get.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/composables/use-logto-access-token.ts
  packages/nuxt/src/runtime/utils/access-token.ts
  packages/nuxt/src/runtime/utils/client.ts
  packages/nuxt/src/runtime/utils/constants.ts
  packages/nuxt/src/runtime/utils/handler.ts
  packages/nuxt/src/runtime/utils/types.ts
  packages/nuxt/test/access-token-endpoint.test.ts
  packages/nuxt/test/access-token.test.ts
  packages/nuxt/test/event-handler.test.ts
  packages/nuxt/test/use-logto-access-token.test.ts
Due: none

style(nuxt): format with the prettier version pinned by the lockfile
  packages/nuxt/src/runtime/composables/use-logto-access-token.ts
  packages/nuxt/src/runtime/utils/types.ts
Due: none

fix: update vulnerable dependencies
  package.json
  packages/angular/package.json
  packages/browser/package.json
  packages/capacitor/package.json
  packages/capacitor/src/index.test.ts
  packages/chrome-extension/package.json
  packages/client/package.json
  packages/client/src/mock.ts
  packages/express/package.json
  packages/express/src/index.test.ts
  packages/js/package.json
  packages/next-auth-sample/package.json
  packages/next-sample/package.json
  packages/next-server-actions-sample/package.json
  packages/next/edge/index.test.ts
  packages/next/package.json
  packages/next/server-actions/client.test.ts
  packages/next/server-actions/index.test.ts
  packages/next/src/index.test.ts
  packages/next/src/index.token-clearing.test.ts
  packages/node/package.json
  packages/node/src/index.test.ts
  packages/nuxt/package.json
  packages/nuxt/test/event-handler.test.ts
  packages/react-router/package.json
  packages/react/package.json
  packages/react/src/hooks/index.test.tsx
  packages/remix/package.json
  packages/sveltekit/package.json
  packages/sveltekit/src/index.test.ts
  packages/vue/package.json
  packages/vue/src/index.test.ts
  pnpm-lock.yaml
Due: js, browser

fix: update vulnerable dependencies (#1193)
  package.json
  packages/angular/package.json
  packages/browser/package.json
  packages/capacitor/package.json
  packages/capacitor/src/index.test.ts
  packages/chrome-extension/package.json
  packages/client/package.json
  packages/client/src/mock.ts
  packages/express/package.json
  packages/express/src/index.test.ts
  packages/js/package.json
  packages/next-auth-sample/package.json
  packages/next-sample/package.json
  packages/next-server-actions-sample/package.json
  packages/next/edge/index.test.ts
  packages/next/package.json
  packages/next/server-actions/client.test.ts
  packages/next/server-actions/index.test.ts
  packages/next/src/index.test.ts
  packages/next/src/index.token-clearing.test.ts
  packages/node/package.json
  packages/node/src/index.test.ts
  packages/nuxt/package.json
  packages/nuxt/test/event-handler.test.ts
  packages/react-router/package.json
  packages/react/package.json
  packages/react/src/hooks/index.test.tsx
  packages/remix/package.json
  packages/sveltekit/package.json
  packages/sveltekit/src/index.test.ts
  packages/vue/package.json
  packages/vue/src/index.test.ts
  pnpm-lock.yaml
Due: js, browser

fix(nuxt): deliver access token responses and serialize refreshes
  packages/nuxt/src/runtime/server/event-handler.ts
  packages/nuxt/src/runtime/utils/access-token.ts
  packages/nuxt/src/runtime/utils/client.ts
  packages/nuxt/src/runtime/utils/handler.ts
  packages/nuxt/src/runtime/utils/session-coordination.ts
  packages/nuxt/test/access-token-endpoint.test.ts
Due: none

test(nuxt): adapt access token tests to @nuxt/test-utils v4
  packages/nuxt/test/access-token-endpoint.test.ts
  packages/nuxt/test/use-logto-access-token.test.ts
Due: none
