Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

fix: prepack script (#484)
  .changeset/violet-dryers-fetch.md
  .github/workflows/publish.yml
  packages/browser/package.json
  packages/client/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue/package.json
Due: js, browser

release: version packages
  .changeset/violet-dryers-fetch.md
  packages/js/CHANGELOG.md
  packages/js/package.json
Due: js

release: version packages (#485)
  .changeset/violet-dryers-fetch.md
  packages/js/CHANGELOG.md
  packages/js/package.json
Due: js

feat: add next app directory sample
  packages/next-app-dir-sample/.eslintrc
  packages/next-app-dir-sample/.gitignore
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/app/api/logto/sign-in/route.ts
  packages/next-app-dir-sample/app/layout.tsx
  packages/next-app-dir-sample/app/page.tsx
  packages/next-app-dir-sample/libraries/config.ts
  packages/next-app-dir-sample/libraries/fetch-json.ts
  packages/next-app-dir-sample/libraries/logto-edge.ts
  packages/next-app-dir-sample/next-env.d.ts
  packages/next-app-dir-sample/next.config.js
  packages/next-app-dir-sample/package.json
  packages/next-app-dir-sample/tsconfig.json
  packages/next-app-dir-sample/vercel.json
  pnpm-lock.yaml
Due: none

feat: add node edge
  packages/node/edge/generators.ts
  packages/node/edge/index.ts
  packages/node/package.json
  packages/node/rollup.config.js
  packages/node/src/client.ts
  packages/node/tsconfig.build.json
  packages/node/tsconfig.json
Due: none

feat: next edge runtime full support
  packages/next-sample/pages/api/edge.ts
  packages/next-sample/pages/api/logto-edge/sign-in-callback.ts
  packages/next-sample/pages/api/logto-edge/sign-in.ts
  packages/next-sample/pages/api/logto-edge/sign-out.ts
  packages/next-sample/pages/api/logto-edge/user.ts
  packages/next/edge/index.ts
  packages/next/edge/iron-session-edge/get-property-descriptor-for-request-session.ts
  packages/next/edge/iron-session-edge/index.ts
  packages/next/package.json
  packages/next/src/client.ts
  packages/next/src/index.ts
  packages/next/src/storage.test.ts
  packages/next/src/storage.ts
  packages/next/src/types.ts
  pnpm-lock.yaml
Due: none

chore: add changeset
  .changeset/fifty-rocks-camp.md
Due: none

fix: remove some export for next edge
  packages/next/edge/index.ts
Due: none

feat: add next app dir sample
  packages/next-app-dir-sample/app/api/logto/sign-in-callback/route.ts
  packages/next-app-dir-sample/app/api/logto/user/get-user.ts
  packages/next-app-dir-sample/app/api/logto/user/route.ts
  packages/next-app-dir-sample/app/layout.tsx
  packages/next-app-dir-sample/app/nav.tsx
  packages/next-app-dir-sample/app/page.tsx
  packages/next-app-dir-sample/libraries/config.ts
  packages/next-app-dir-sample/package.json
  pnpm-lock.yaml
Due: none

fix: fix request url
  packages/next/edge/index.ts
Due: none

chore: update deps
  packages/next-app-dir-sample/package.json
  pnpm-lock.yaml
Due: none

chore: update deps
  packages/next-sample/package.json
  pnpm-lock.yaml
Due: none

fix: update deps
  packages/next/package.json
  pnpm-lock.yaml
Due: none

fix: update react version
  packages/react-sample/package.json
  packages/react/package.json
  packages/react/src/hooks/index.test.tsx
  packages/remix/package.json
  pnpm-lock.yaml
Due: none

fix: cr fix
  packages/next/edge/index.ts
  packages/node/edge/index.ts
  packages/node/src/index.ts
Due: none

fix: add comments
  packages/next/edge/index.ts
  packages/node/edge/index.ts
Due: none

feat: next edge runtime full support (#486)
  .changeset/fifty-rocks-camp.md
  packages/next-sample/pages/api/edge.ts
  packages/next-sample/pages/api/logto-edge/sign-in-callback.ts
  packages/next-sample/pages/api/logto-edge/sign-in.ts
  packages/next-sample/pages/api/logto-edge/sign-out.ts
  packages/next-sample/pages/api/logto-edge/user.ts
  packages/next/edge/index.ts
  packages/next/edge/iron-session-edge/get-property-descriptor-for-request-session.ts
  packages/next/edge/iron-session-edge/index.ts
  packages/next/package.json
  packages/next/src/client.ts
  packages/next/src/index.ts
  packages/next/src/storage.test.ts
  packages/next/src/storage.ts
  packages/next/src/types.ts
  packages/node/edge/generators.ts
  packages/node/edge/index.ts
  packages/node/package.json
  packages/node/rollup.config.js
  packages/node/src/client.ts
  packages/node/tsconfig.build.json
  packages/node/tsconfig.json
  pnpm-lock.yaml
Due: none

chore: remove changelog
  packages/next-app-dir-sample/CHANGELOG.md
Due: none

feat: add next app directory sample (#487)
  packages/next-app-dir-sample/.eslintrc
  packages/next-app-dir-sample/.gitignore
  packages/next-app-dir-sample/app/api/logto/sign-in-callback/route.ts
  packages/next-app-dir-sample/app/api/logto/sign-in/route.ts
  packages/next-app-dir-sample/app/api/logto/user/get-user.ts
  packages/next-app-dir-sample/app/api/logto/user/route.ts
  packages/next-app-dir-sample/app/layout.tsx
  packages/next-app-dir-sample/app/nav.tsx
  packages/next-app-dir-sample/app/page.tsx
  packages/next-app-dir-sample/libraries/config.ts
  packages/next-app-dir-sample/libraries/fetch-json.ts
  packages/next-app-dir-sample/libraries/logto-edge.ts
  packages/next-app-dir-sample/next-env.d.ts
  packages/next-app-dir-sample/next.config.js
  packages/next-app-dir-sample/package.json
  packages/next-app-dir-sample/tsconfig.json
  packages/next-app-dir-sample/vercel.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/react/package.json
  packages/react/src/hooks/index.test.tsx
  packages/remix/package.json
  pnpm-lock.yaml
Due: none

feat(next): add rbac support
  .changeset/rotten-ghosts-prove.md
  packages/client/src/index.ts
  packages/js/src/utils/access-token.test.ts
  packages/js/src/utils/access-token.ts
  packages/js/src/utils/errors.ts
  packages/js/src/utils/index.ts
  packages/next-app-dir-sample/app/api/logto/rbac-protected-resource/get-rbac-protected-resource.ts
  packages/next-app-dir-sample/app/api/logto/rbac-protected-resource/route.ts
  packages/next-app-dir-sample/app/page.tsx
  packages/next-app-dir-sample/libraries/config.ts
  packages/next-sample/libraries/config.ts
  packages/next-sample/pages/api/rbac-scope.ts
  packages/next-sample/pages/index.tsx
  packages/node/src/client.ts
  packages/node/src/types.ts
Due: js

feat(next-sample): add deploy with vercel button
  packages/next-app-dir-sample/README.md
  packages/next-app-dir-sample/libraries/config.ts
  packages/next-sample/README.md
  packages/next-sample/libraries/config.ts
Due: none

feat(next): add rbac support (#491)
  .changeset/rotten-ghosts-prove.md
  packages/client/src/index.ts
  packages/js/src/utils/access-token.test.ts
  packages/js/src/utils/access-token.ts
  packages/js/src/utils/errors.ts
  packages/js/src/utils/index.ts
  packages/next-app-dir-sample/app/api/logto/rbac-protected-resource/get-rbac-protected-resource.ts
  packages/next-app-dir-sample/app/api/logto/rbac-protected-resource/route.ts
  packages/next-app-dir-sample/app/page.tsx
  packages/next-app-dir-sample/libraries/config.ts
  packages/next-sample/libraries/config.ts
  packages/next-sample/pages/api/rbac-scope.ts
  packages/next-sample/pages/index.tsx
  packages/node/src/client.ts
  packages/node/src/types.ts
Due: js

feat(next-sample): add deploy with vercel button (#492)
  packages/next-app-dir-sample/README.md
  packages/next-app-dir-sample/libraries/config.ts
  packages/next-sample/README.md
  packages/next-sample/libraries/config.ts
Due: none

release: version packages
  .changeset/fifty-rocks-camp.md
  .changeset/rotten-ghosts-prove.md
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  pnpm-lock.yaml
Due: js

release: version packages (#490)
  .changeset/fifty-rocks-camp.md
  .changeset/rotten-ghosts-prove.md
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  pnpm-lock.yaml
Due: js

refactor: move cjs sanity checks to `postpack`
  packages/express/package.json
  packages/next/package.json
  packages/node/package.json
Due: none

refactor: move cjs sanity checks to `postpack` (#494)
  packages/express/package.json
  packages/next/package.json
  packages/node/package.json
Due: none

refactor: use workspace protocol
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/next-app-dir-sample/package.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: browser

fix: skip access token decode for opaque token
  .changeset/slow-cooks-destroy.md
  packages/js/src/utils/access-token.test.ts
  packages/js/src/utils/access-token.ts
  packages/js/src/utils/errors.ts
Due: js

fix: skip access token decode for opaque token (#496)
  .changeset/slow-cooks-destroy.md
  packages/js/src/utils/access-token.test.ts
  packages/js/src/utils/access-token.ts
  packages/js/src/utils/errors.ts
Due: js

fix: fix express sample project
  packages/express-sample/package.json
  packages/express-sample/src/app.ts
  packages/express-sample/tsconfig.json
  pnpm-lock.yaml
Due: none

fix: fix express sample project (#497)
  packages/express-sample/package.json
  packages/express-sample/src/app.ts
  packages/express-sample/tsconfig.json
  pnpm-lock.yaml
Due: none

release: version packages
  .changeset/slow-cooks-destroy.md
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  pnpm-lock.yaml
Due: js

release: version packages (#498)
  .changeset/slow-cooks-destroy.md
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  pnpm-lock.yaml
Due: js

chore: add changeset
  .changeset/new-adults-happen.md
Due: none

fix(react,vue): potential infinite loop when handleSignInCallback fails
  package.json
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
Due: none

fix(react,vue): potential infinite loop when handleSignInCallback fails (#502)
  .changeset/new-adults-happen.md
  package.json
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
Due: none

release: version packages
  .changeset/new-adults-happen.md
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#505)
  .changeset/new-adults-happen.md
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

ci: build before test
  packages/browser/package.json
  packages/client/package.json
  packages/express/package.json
  packages/js/package.json
  packages/node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue/package.json
Due: js, browser

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
