Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: client, react, playground, react-playground

codecov.yml:

comment: false

coverage:
  require_changes: true
  status:
    project:
      default:
        target: 70
      client:
        flags:
          - client
      react:
        flags:
          - react
      playground:
        flags:
          - playground
      react-playground:
        flags:
          - react-playground

flags:
  client:
    paths:
      - ./packages/client
  react:
    paths:
      - ./packages/react
  playground:
    paths:
      - ./packages/playround
  react-playground:
    paths:
      - ./packages/react-playground

feat(browser): signIn (#170)
  packages/browser/jest.setup.js
  packages/browser/package.json
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/js/package.json
  packages/js/src/index.ts
  packages/js/src/utils/callback-uri.ts
  pnpm-lock.yaml
Due: none

feat(browser): add LogtoClient constructor
  packages/browser/src/index.ts
Due: none

chore(js,browser): improve lint comments in jest.setup.js
  packages/browser/jest.setup.js
  packages/client/jest.setup.js
Due: client

chore(js,browser): improve lint comments in jest.setup.js (#176)
  packages/browser/jest.setup.js
  packages/client/jest.setup.js
Due: client

chore: improve the lint comments in all jest.setup.js
  packages/js/jest.setup.js
  packages/react-playground/jest.setup.js
Due: react, react-playground

chore: improve the lint comments in all jest.setup.js (#177)
  packages/js/jest.setup.js
  packages/react-playground/jest.setup.js
Due: react, react-playground

feat(browser): sign out
  packages/browser/src/index.ts
Due: none

refactor(browser): sign out
  packages/browser/src/index.ts
Due: none

feat(browser): sign-in session storage
  packages/browser/jest.config.js
  packages/browser/package.json
  packages/browser/src/errors.ts
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/browser/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(browser): sign-in session storage (#175)
  packages/browser/jest.config.js
  packages/browser/package.json
  packages/browser/src/errors.ts
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/browser/tsconfig.json
  pnpm-lock.yaml
Due: none

chore: test
  packages/browser/package.json
  packages/js/package.json
  pnpm-lock.yaml
Due: none

refactor: extract utility functions in browser sdk
  packages/browser/src/index.ts
  packages/browser/src/utils/index.test.ts
  packages/browser/src/utils/index.ts
  packages/js/src/core/oidc-config.ts
Due: none

refactor(browser): read tokens from local storage on init
  packages/browser/src/index.ts
Due: none

test(browser): add browser sign out test cases
  packages/browser/src/index.test.ts
Due: none

refactor(js): decodeIdToken
  packages/js/src/utils/id-token.ts
Due: none

feat(js): add CodeTokenResponse
  packages/js/src/core/fetch-token.test.ts
  packages/js/src/core/fetch-token.ts
Due: none

refactor(js): decodeIdToken (#185)
  packages/js/src/utils/id-token.ts
Due: none

feat(js): add CodeTokenResponse (#186)
  packages/js/src/core/fetch-token.test.ts
  packages/js/src/core/fetch-token.ts
Due: none

refactor(browser): make requester an optional LogtoClient constructor parameter
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
Due: none

refactor(browser): make requester an optional LogtoClient constructor parameter (#187)
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
Due: none

refactor(browser): resolve failed tests
  packages/browser/src/index.test.ts
Due: none

refactor(browser): resolve failed tests (#188)
  packages/browser/src/index.test.ts
Due: none

chore(browser): fix grammatical error in the comment
  packages/browser/src/index.ts
Due: none

chore(js,browser): upgrade @silverhand/essentials to version 1.1.6
  packages/browser/package.json
  packages/js/package.json
  pnpm-lock.yaml
Due: none

chore(browser): make necessary LogtoClient properties nullable
  packages/browser/src/index.ts
Due: none

chore(browser): make necessary LogtoClient properties nullable (#189)
  packages/browser/package.json
  packages/browser/src/index.ts
  packages/js/package.json
  pnpm-lock.yaml
Due: none

feat(browser): browser end user information getters
  packages/browser/package.json
  packages/browser/src/errors.ts
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/browser/src/utils/index.ts
  pnpm-lock.yaml
Due: none

refactor(browser): remove unnecessary renamed imports
  packages/browser/src/index.ts
Due: none

refactor(browser): remove unnecessary renamed imports (#190)
  packages/browser/src/index.ts
Due: none

fix(browser): getAccessToken saves refreshToken and idToken
  packages/browser/src/index.ts
Due: none

fix(browser): getAccessToken saves refreshToken and idToken (#191)
  packages/browser/src/index.ts
Due: none

refactor(browser): extract *Token key builder utils
  packages/browser/src/index.ts
  packages/browser/src/utils/index.test.ts
  packages/browser/src/utils/index.ts
Due: none

refactor(browser): extract *Token key builder utils (#192)
  packages/browser/src/index.ts
  packages/browser/src/utils/index.test.ts
  packages/browser/src/utils/index.ts
Due: none

chore: bump version of typescript and configs
  package.json
  packages/browser/package.json
  packages/js/package.json
  packages/playground/package.json
  packages/react-playground/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: react, react-playground

chore: bump eslint-config to 0.9.1
  packages/browser/package.json
  packages/browser/src/index.test.ts
  packages/client/package.json
  packages/client/src/index.ts
  packages/client/src/modules/storage.test.ts
  packages/client/src/utils/generators.ts
  packages/js/package.json
  packages/playground/package.json
  packages/playground/src/App.tsx
  packages/playground/src/LogtoClientContext.ts
  packages/react-playground/package.json
  packages/react/package.json
  packages/react/src/ProtectedRoute.spec.tsx
  packages/react/src/provider.tsx
  packages/react/src/use-logto.spec.tsx
  pnpm-lock.yaml
Due: client, react, react-playground

feat(browser-sample): init package
  .npmrc
  packages/browser-sample/package.json
  packages/browser-sample/src/app.js
  packages/browser-sample/src/app.scss
  packages/browser-sample/src/index.html
  packages/browser-sample/src/index.js
  packages/browser/package.json
  packages/browser/tsconfig.json
  packages/js/package.json
  packages/playground/src/consts/url.ts
  packages/react-playground/package.json
  packages/react-playground/src/consts/url.ts
  pnpm-lock.yaml
Due: react, react-playground

feat(react-sample): init react sample project
  packages/react-sample/package.json
  packages/react-sample/src/App.module.scss
  packages/react-sample/src/App.tsx
  packages/react-sample/src/include.d/react-app.d.ts
  packages/react-sample/src/index.html
  packages/react-sample/src/index.tsx
  packages/react-sample/tsconfig.json
  pnpm-lock.yaml
Due: react

test(browser): handle sign-in callback
  packages/browser/src/index.test.ts
Due: none
