Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

chore: update changeset (#755)
  .changeset/strong-singers-approve.md
Due: none

release: version packages
  .changeset/strong-singers-approve.md
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
Due: none

release: version packages (#754)
  .changeset/strong-singers-approve.md
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
Due: none

fix(client): fix request error handler
  .changeset/short-moose-sleep.md
  packages/client/src/utils/requester.test.ts
  packages/client/src/utils/requester.ts
Due: none

fix(client): fix request error handler (#756)
  .changeset/short-moose-sleep.md
  packages/client/src/utils/requester.test.ts
  packages/client/src/utils/requester.ts
Due: none

release: version packages
  .changeset/short-moose-sleep.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

release: version packages (#757)
  .changeset/short-moose-sleep.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

fix(vue): sign in function type infer
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: none

chore: add changeset
  .changeset/mean-laws-fetch.md
Due: none

fix(vue): sign in method type infer (#761)
  .changeset/mean-laws-fetch.md
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: none

refactor: update userinfo response type
  .changeset/clever-zoos-scream.md
  .changeset/real-bears-glow.md
  packages/capacitor/src/index.ts
  packages/express/src/index.ts
  packages/js/src/core/user-info.ts
  packages/next/edge/index.ts
  packages/next/src/index.ts
  packages/remix/src/index.ts
Due: js

refactor: update userinfo response type (#760)
  .changeset/clever-zoos-scream.md
  .changeset/real-bears-glow.md
  packages/capacitor/src/index.ts
  packages/express/src/index.ts
  packages/js/src/core/user-info.ts
  packages/next/edge/index.ts
  packages/next/src/index.ts
  packages/remix/src/index.ts
Due: js

allowing the base url to be overridden for the nuxt package
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/server/event-handler.ts
  packages/nuxt/src/runtime/utils/types.ts
Due: none

feat(node): ignore fetch user info error in getContext
  .changeset/dry-bulldogs-travel.md
  packages/node/src/client.ts
Due: none

feat(next): add error handlers to all methods
  .changeset/shy-files-remain.md
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
  packages/next/src/utils.ts
Due: none

fix(nuxt): change default configuration error to warning
  .changeset/chilly-spiders-deliver.md
  packages/nuxt/src/runtime/server/event-handler.ts
Due: none

feat(next): add getAccessToken function to server actions
  .changeset/nine-actors-leave.md
  packages/next-server-actions-sample/app/get-access-token.tsx
  packages/next-server-actions-sample/app/logto.ts
  packages/next-server-actions-sample/app/page.tsx
  packages/next/server-actions/index.ts
Due: none

feat(next): add getAccessToken function to server actions (#774)
  .changeset/nine-actors-leave.md
  packages/next-server-actions-sample/app/get-access-token.tsx
  packages/next-server-actions-sample/app/logto.ts
  packages/next-server-actions-sample/app/page.tsx
  packages/next/server-actions/index.ts
Due: none

fix(nuxt): change default configuration error to warning (#773)
  .changeset/chilly-spiders-deliver.md
  packages/nuxt/src/runtime/server/event-handler.ts
Due: none

feat(next): add error handlers to all methods (#772)
  .changeset/shy-files-remain.md
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/types.ts
  packages/next/src/utils.ts
Due: none

release: version packages
  .changeset/chilly-spiders-deliver.md
  .changeset/nine-actors-leave.md
  .changeset/shy-files-remain.md
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

release: version packages (#775)
  .changeset/chilly-spiders-deliver.md
  .changeset/nine-actors-leave.md
  .changeset/shy-files-remain.md
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

fix: remove import from dev dependency
  packages/js/src/core/user-info.ts
Due: js

fix: add changeset
  .changeset/perfect-rabbits-tap.md
Due: none

updated naming to baseUrl
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/server/event-handler.ts
  packages/nuxt/src/runtime/utils/types.ts
Due: none

feat(next): add getAccessTokenRSC function to server actions
  .changeset/angry-moons-tie.md
  packages/next/server-actions/index.ts
Due: none

feat(next): add getAccessTokenRSC function to server actions (#780)
  .changeset/angry-moons-tie.md
  packages/next/server-actions/index.ts
Due: none

release: version packages
  .changeset/angry-moons-tie.md
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
Due: none

release: version packages (#781)
  .changeset/angry-moons-tie.md
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
Due: none

feat(next): add getAccessToken and getOrganizationToken for pages router
  .changeset/angry-feet-punch.md
  packages/next-sample/pages/api/organization-token.ts
  packages/next-sample/pages/api/organizations.ts
  packages/next-sample/pages/api/protected-resource.ts
  packages/next-sample/pages/index.tsx
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

refactor(next): use cookie storage
  packages/next-server-actions-sample/next.config.js
  packages/next/edge/index.ts
  packages/next/package.json
  packages/next/server-actions/client.test.ts
  packages/next/server-actions/client.ts
  packages/next/server-actions/cookie.ts
  packages/next/server-actions/index.ts
  packages/next/src/client.ts
  packages/next/src/index.test.ts
  packages/next/src/index.ts
  packages/next/src/storage.test.ts
  packages/next/src/storage.ts
  packages/node/src/utils/cookie-storage.test.ts
  packages/node/src/utils/cookie-storage.ts
  packages/sveltekit/src/index.test.ts
  packages/sveltekit/src/index.ts
  pnpm-lock.yaml
Due: none

fix(js): use Nullable import from silverhand essentials package
  .changeset/perfect-rabbits-tap.md
  packages/js/src/core/user-info.ts
Due: js

feat(next): add getAccessToken and getOrganizationToken for pages router (#782)
  .changeset/angry-feet-punch.md
  packages/next-sample/pages/api/organization-token.ts
  packages/next-sample/pages/api/organizations.ts
  packages/next-sample/pages/api/protected-resource.ts
  packages/next-sample/pages/index.tsx
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

fix: remove import from dev dependency (#776)
  .changeset/perfect-rabbits-tap.md
  packages/js/src/core/user-info.ts
Due: js

feat: add first screen values and identifier config for sign-in options
  .changeset/blue-phones-work.md
  packages/client/src/client.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
  packages/js/src/types/index.ts
Due: js

feat: add first screen values and identifier config for sign-in options (#786)
  .changeset/blue-phones-work.md
  packages/client/src/client.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
  packages/js/src/types/index.ts
Due: js

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
