Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore(deps): update dependency conventional-changelog-conventionalcommits to v5
  package.json
  pnpm-lock.yaml
Due: none

refactor(js): update UserInfoResponse type
  packages/js/src/core/user-info.ts
Due: js

chore(deps): update dependency lint-staged to v13
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/js/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore: remove conventional-changelog-conventionalcommits
  package.json
  pnpm-lock.yaml
Due: none

release: v0.1.14
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

fix(deps): update dependency camelcase-keys to v8
  packages/js/package.json
  pnpm-lock.yaml
Due: js

fix(deps): update dependency superstruct to ^0.16.0
  packages/browser/package.json
  packages/js/package.json
  pnpm-lock.yaml
Due: js, browser

chore: add readme files
  README.md
  logo.png
  packages/react/README.md
  packages/vue/README.md
Due: none

refactor: add callback function param to useHandleSignInCallback hook
  packages/react-sample/src/pages/Callback/index.tsx
  packages/react/src/hooks/index.ts
  packages/vue-sample/src/views/CallbackView.vue
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: none

release: v0.1.15
  CHANGELOG.md
  lerna.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

feat(browser): append reserved scopes in LogtoClient constructor
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
Due: browser

feat(browser): append reserved scopes in LogtoClient constructor (#305)
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
Due: browser

test(browser): reorg test cases and improve their description
  packages/browser/src/index.test.ts
Due: browser

test(browser): reorg test cases and improve their descriptions (#307)
  packages/browser/src/index.test.ts
Due: browser

chore: remove only-allow pnpm from all sub-packages
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/js/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
Due: js, browser

release: v0.1.16
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

refactor(js): add userinfo props to id token claims type
  packages/js/src/utils/id-token.ts
Due: js

fix(js SDK): getAccessTokenByRefreshToken should not return idToken
  packages/browser/src/index.ts
Due: browser

chore: remove Linear issue reference in PR template
  .github/pull_request_template.md
Due: none

fix(js): refresh access token without a resource should return id token
  packages/browser/src/index.ts
Due: browser

chore: remove Linear issue reference in PR template (#312)
  .github/pull_request_template.md
Due: none

release: v0.1.17
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

fix(js): support null in id token
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
Due: js

fix(js): support null in id token (#314)
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
Due: js

feat(js,browser): configurable prompt
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/fetch-token.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
Due: js, browser

refactor(js,browser): rename PromptValue to Prompt
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
Due: js, browser

release: v0.1.18
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

fix(js): update userinfo response
  packages/js/src/core/user-info.ts
Due: js

feat(js,browser): configurable prompt (#311)
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/fetch-token.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
Due: js, browser

feat: remove userinfo
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/js/src/core/index.ts
  packages/js/src/core/oidc-config.test.ts
  packages/js/src/core/oidc-config.ts
  packages/js/src/core/user-info.test.ts
  packages/js/src/core/user-info.ts
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: js, browser

chore(vue-sample): upgrade dependencies
  packages/vue-sample/package.json
  pnpm-lock.yaml
Due: none

refactor(browser): remove userinfo error code
  packages/browser/src/errors.ts
Due: browser

chore(vue-sample): upgrade dependencies (#315)
  packages/vue-sample/package.json
  pnpm-lock.yaml
Due: none

feat: remove userinfo (#317)
  packages/browser/src/errors.ts
  packages/browser/src/index.test.ts
  packages/browser/src/index.ts
  packages/js/src/core/index.ts
  packages/js/src/core/oidc-config.test.ts
  packages/js/src/core/oidc-config.ts
  packages/js/src/core/user-info.test.ts
  packages/js/src/core/user-info.ts
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: js, browser

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
