Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

codecov.yml:

coverage:
  status:
    project:
      default: off
      js:
        target: auto
        threshold: 1%
        flags:
          - js
      browser:
        target: auto
        threshold: 1%
        flags:
          - browser

flags:
  js:
    paths:
      - ./packages/js
  browser:
    paths:
      - ./packages/browser

fix(nuxt): import `defineEventHandler` from h3
  .changeset/afraid-socks-lie.md
  packages/nuxt/src/runtime/server/event-handler.ts
Due: none

fix(nuxt): import `defineEventHandler` from h3 (#649)
  .changeset/afraid-socks-lie.md
  packages/nuxt/src/runtime/server/event-handler.ts
Due: none

release: version packages
  .changeset/afraid-socks-lie.md
  .changeset/few-pets-shave.md
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

release: version packages (#645)
  .changeset/afraid-socks-lie.md
  .changeset/few-pets-shave.md
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

fix(nuxt): turn off auto import and fix issues
  .changeset/brave-eels-love.md
  packages/nuxt/playground/app.vue
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/src/runtime/server/event-handler.ts
Due: none

fix(nuxt): turn off auto import and fix issues (#651)
  .changeset/brave-eels-love.md
  packages/nuxt/playground/app.vue
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/src/runtime/server/event-handler.ts
Due: none

release: version packages
  .changeset/brave-eels-love.md
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

release: version packages (#652)
  .changeset/brave-eels-love.md
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

chore: us typescript config
  commitlint.config.cjs
  commitlint.config.ts
Due: none

feat(client): support `postRedirectUri`
  .changeset/eleven-pandas-scream.md
  packages/browser/src/index.ts
  packages/capacitor/src/index.ts
  packages/client/src/adapter/types.ts
  packages/client/src/client.ts
  packages/client/src/types/index.ts
  packages/node/src/exports.ts
  packages/sveltekit-sample/src/routes/+page.server.ts
  packages/sveltekit/src/index.ts
Due: browser

refactor: add test case
  packages/client/src/index.sign-in.test.ts
Due: none

feat(client): support `postRedirectUri` (#653)
  .changeset/eleven-pandas-scream.md
  packages/browser/src/index.ts
  packages/capacitor/src/index.ts
  packages/client/src/adapter/types.ts
  packages/client/src/client.ts
  packages/client/src/index.sign-in.test.ts
  packages/client/src/types/index.ts
  packages/node/src/exports.ts
  packages/sveltekit-sample/src/routes/+page.server.ts
  packages/sveltekit/src/index.ts
Due: browser

feat(js): add secureRoutes support to buildAngularAuthConfig util
  .changeset/stupid-kiwis-sip.md
  packages/js/src/utils/angular.ts
Due: js

release: version packages
  .changeset/eleven-pandas-scream.md
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/sveltekit-sample/CHANGELOG.md
  packages/sveltekit-sample/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
Due: none

release: version packages (#654)
  .changeset/eleven-pandas-scream.md
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/sveltekit-sample/CHANGELOG.md
  packages/sveltekit-sample/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
Due: none

feat(js,client): support login_hint param on sign-in
  packages/client/src/client.ts
  packages/client/src/index.sign-in.test.ts
  packages/client/src/mock.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
Due: js

chore: add changeset
  .changeset/strange-chairs-appear.md
Due: none

fix: test
  packages/client/src/index.sign-in.test.ts
Due: none

feat(js,client): support login_hint param on sign-in (#658)
  .changeset/strange-chairs-appear.md
  packages/client/src/client.ts
  packages/client/src/index.sign-in.test.ts
  packages/client/src/mock.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
Due: js

feat(next): add error handler to withLogtoApiRoute
  .changeset/spicy-bobcats-brush.md
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

fix(next): set cookie samesite when the config is secure
  .changeset/polite-masks-judge.md
  packages/next/edge/index.ts
  packages/next/server-actions/cookie.ts
  packages/next/src/index.ts
Due: none

fix(next): set cookie samesite when the config is secure (#662)
  .changeset/polite-masks-judge.md
  packages/next/edge/index.ts
  packages/next/server-actions/cookie.ts
  packages/next/src/index.ts
Due: none

release: version packages
  .changeset/polite-masks-judge.md
  .changeset/strange-chairs-appear.md
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  pnpm-lock.yaml
Due: js

release: version packages (#659)
  .changeset/polite-masks-judge.md
  .changeset/strange-chairs-appear.md
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  pnpm-lock.yaml
Due: js

refactor: fix test cases
  .changeset/mighty-lamps-cough.md
  jest.config.js
  package.json
  packages/nuxt/package.json
  packages/nuxt/test/event-handler.test.ts
  packages/sveltekit/package.json
  packages/sveltekit/src/__mocks__/@sveltejs/kit.ts
  packages/sveltekit/src/index.test.ts
  packages/sveltekit/tsconfig.json
  pnpm-lock.yaml
Due: none

release: version packages
  .changeset/mighty-lamps-cough.md
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
Due: none

release: version packages (#664)
  .changeset/mighty-lamps-cough.md
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
Due: none

chore: add changeset
  .changeset/two-roses-argue.md
Due: none

refactor: fix workspace dependency versions
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/capacitor/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/next-app-dir-sample/package.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: browser

chore: add changeset (#665)
  .changeset/two-roses-argue.md
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/capacitor/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/next-app-dir-sample/package.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: browser

release: version packages
  .changeset/two-roses-argue.md
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

release: version packages (#666)
  .changeset/two-roses-argue.md
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: support `firstScreen`, `directSignIn`, and `extraParams` for sign-in
  .changeset/silly-grapes-fold.md
  packages/client/src/client.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
  packages/js/src/types/index.ts
Due: js

feat: support `firstScreen`, `directSignIn`, and `extraParams` for sign-in (#667)
  .changeset/silly-grapes-fold.md
  packages/client/src/client.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
  packages/js/src/types/index.ts
Due: js

release: version packages
  .changeset/silly-grapes-fold.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

release: version packages (#668)
  .changeset/silly-grapes-fold.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-app-dir-sample/CHANGELOG.md
  packages/next-app-dir-sample/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

refactor: fix jsdoc comments
  .changeset/pretty-lamps-wave.md
  packages/js/src/core/sign-in.ts
  packages/js/src/types/index.ts
Due: js

refactor: fix jsdoc comments (#669)
  .changeset/pretty-lamps-wave.md
  packages/js/src/core/sign-in.ts
  packages/js/src/types/index.ts
Due: js

feat(next): add error handler to withLogtoApiRoute (#661)
  .changeset/spicy-bobcats-brush.md
  packages/next/src/index.test.ts
  packages/next/src/index.ts
Due: none

refactor: add test cases
  .changeset/chilly-pets-walk.md
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
Due: none
