Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

feat(vue): add organization support
  .changeset/honest-experts-leave.md
  .vscode/settings.json
  packages/client/src/index.ts
  packages/react-sample/package.json
  packages/vue-sample/package.json
  packages/vue-sample/src/consts/index.ts
  packages/vue-sample/src/main.ts
  packages/vue-sample/src/router/index.ts
  packages/vue-sample/src/views/HomeView.vue
  packages/vue-sample/src/views/OrganizationsView.vue
  packages/vue-sample/src/views/ProtectedResourceView.vue
  packages/vue/package.json
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
  pnpm-lock.yaml
Due: none

fix: fixup
  .changeset/chilly-donuts-shout.md
  .changeset/honest-experts-leave.md
Due: none

feat(vue): add organization support (#604)
  .changeset/chilly-donuts-shout.md
  .changeset/honest-experts-leave.md
  .vscode/settings.json
  packages/client/src/index.ts
  packages/react-sample/package.json
  packages/vue-sample/package.json
  packages/vue-sample/src/consts/index.ts
  packages/vue-sample/src/main.ts
  packages/vue-sample/src/router/index.ts
  packages/vue-sample/src/views/HomeView.vue
  packages/vue-sample/src/views/OrganizationsView.vue
  packages/vue-sample/src/views/ProtectedResourceView.vue
  packages/vue/package.json
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
  pnpm-lock.yaml
Due: none

fix(next-sample): use new approach of redirect
  packages/next-sample/pages/profile-ssr.tsx
Due: none

fix(next-sample): use new approach of redirect (#606)
  packages/next-sample/pages/profile-ssr.tsx
Due: none

release: version packages
  .changeset/chilly-donuts-shout.md
  .changeset/honest-experts-leave.md
  .changeset/wet-bulldogs-attend.md
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: none

release: version packages (#601)
  .changeset/chilly-donuts-shout.md
  .changeset/honest-experts-leave.md
  .changeset/wet-bulldogs-attend.md
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: none

fix(next-server-actions-sample): add configs to get logto context
  packages/next-server-actions-sample/app/page.tsx
  packages/next-server-actions-sample/libraries/logto.ts
Due: none

fix(next-server-actions-sample): add configs to get logto context (#611)
  packages/next-server-actions-sample/app/page.tsx
  packages/next-server-actions-sample/libraries/logto.ts
Due: none

feat(express,node): add organization support to express
  .changeset/odd-pianos-invite.md
  packages/express-sample/src/app.ts
  packages/express/src/index.ts
  packages/node/src/client.ts
  packages/node/src/index.test.ts
  packages/node/src/types.ts
Due: none

feat(express,node): add organization support to express (#612)
  .changeset/odd-pianos-invite.md
  packages/express-sample/src/app.ts
  packages/express/src/index.ts
  packages/node/src/client.ts
  packages/node/src/index.test.ts
  packages/node/src/types.ts
Due: none

fix: use route to handle callback in next server actions
  packages/next-server-actions-sample/.gitignore
  packages/next-server-actions-sample/app/callback/page.tsx
  packages/next-server-actions-sample/app/callback/route.ts
  packages/next-server-actions-sample/libraries/logto.ts
Due: none

chore: update dependency @silverhand/essentials to v2.8.7
  packages/browser/package.json
  packages/client/package.json
  packages/js/package.json
  packages/node/package.json
  packages/react/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore: add changeset
  .changeset/sharp-vans-collect.md
Due: none

fix: use route to handle callback in next server actions (#616)
  packages/next-server-actions-sample/.gitignore
  packages/next-server-actions-sample/app/callback/page.tsx
  packages/next-server-actions-sample/app/callback/route.ts
  packages/next-server-actions-sample/libraries/logto.ts
Due: none

chore: update dependency @silverhand/essentials to v2.8.7 (#617)
  .changeset/sharp-vans-collect.md
  packages/browser/package.json
  packages/client/package.json
  packages/js/package.json
  packages/node/package.json
  packages/react/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

release: version packages
  .changeset/odd-pianos-invite.md
  .changeset/sharp-vans-collect.md
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

release: version packages (#615)
  .changeset/odd-pianos-invite.md
  .changeset/sharp-vans-collect.md
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

docs(express,next): update readme
  packages/express/README.md
  packages/next/README.md
Due: none

docs(express,next): update readme (#619)
  packages/express/README.md
  packages/next/README.md
Due: none

chore: update readme
  packages/browser/README.md
  packages/react/README.md
  packages/vue/README.md
Due: browser

chore: update readme (#621)
  packages/browser/README.md
  packages/react/README.md
  packages/vue/README.md
Due: browser

feat(client,js)!: support custom jwt verifier
  packages/client/package.json
  packages/client/rollup.config.js
  packages/client/src/adapter/defaults.test.ts
  packages/client/src/adapter/defaults.ts
  packages/client/src/adapter/index.ts
  packages/client/src/adapter/types.ts
  packages/client/src/client.ts
  packages/client/src/index.cache.test.ts
  packages/client/src/index.sign-in.test.ts
  packages/client/src/index.sign-out.test.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/client/src/mock.ts
  packages/client/src/remote-jwk-set.test.ts
  packages/client/src/remote-jwk-set.ts
  packages/client/src/shim.ts
  packages/client/src/utils/requester.ts
  packages/js/package.json
  packages/js/src/core/fetch-token.test.ts
  packages/js/src/core/fetch-token.ts
  packages/js/src/core/sign-in.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
  pnpm-lock.yaml
  rollup.config.js
Due: js

feat: support multiple prompt values
  packages/client/src/adapter/types.ts
  packages/client/src/client.ts
  packages/client/src/index.sign-in.test.ts
  packages/client/src/index.sign-out.test.ts
  packages/client/src/index.test.ts
  packages/client/src/types/index.ts
  packages/js/src/consts/index.ts
  packages/js/src/core/revoke.test.ts
  packages/js/src/core/revoke.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
Due: js

refactor: fix test
  packages/capacitor/src/index.test.ts
  packages/client/jest.setup.js
Due: none

chore: upgrade typescript
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/capacitor/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next-app-dir-sample/package.json
  packages/next-sample/package.json
  packages/next-server-actions-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/passportjs-sample/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue-sample/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

refactor(next)!: remove explicit crypto import
  packages/next/src/index.ts
  packages/next/src/session.test.ts
Due: none

refactor: align type package versions
  packages/client/package.json
  packages/express-sample/package.json
  packages/js/package.json
  packages/next-app-dir-sample/package.json
  packages/next-sample/package.json
  packages/next-server-actions-sample/package.json
  packages/node/package.json
  packages/passportjs-sample/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue-sample/package.json
  pnpm-lock.yaml
Due: js

ci: upgrade node
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  packages/next/server-actions/index.test.ts
Due: none

refactor: fix crypto issue in jsdom env
  packages/browser/jest.setup.js
  packages/capacitor/jest.setup.js
  packages/client/jest.setup.js
  packages/client/package.json
  packages/js/jest.setup.js
  packages/js/package.json
  pnpm-lock.yaml
Due: js, browser

feat: angular sample
  .gitignore
  packages/angular-sample/README.md
  packages/angular-sample/angular.json
  packages/angular-sample/package.json
  packages/angular-sample/server.ts
  packages/angular-sample/src/app/app.component.html
  packages/angular-sample/src/app/app.component.scss
  packages/angular-sample/src/app/app.component.spec.ts
  packages/angular-sample/src/app/app.component.ts
  packages/angular-sample/src/app/app.config.server.ts
  packages/angular-sample/src/app/app.config.ts
  packages/angular-sample/src/app/app.routes.ts
  packages/angular-sample/src/assets/.gitkeep
  packages/angular-sample/src/favicon.ico
  packages/angular-sample/src/index.html
  packages/angular-sample/src/main.server.ts
  packages/angular-sample/src/main.ts
  packages/angular-sample/src/styles.scss
  packages/angular-sample/tsconfig.app.json
  packages/angular-sample/tsconfig.json
  packages/angular-sample/tsconfig.spec.json
  packages/js/package.json
  packages/js/src/core/user-info.test.ts
  packages/js/src/core/user-info.ts
  packages/js/src/utils/angular.ts
  packages/js/src/utils/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: js

chore: upgrade husky
  .husky/commit-msg
  .husky/pre-commit
  package.json
  packages/remix/package.json
  pnpm-lock.yaml
Due: none

refactor: fix pnpm installation issue for angular sample
  .gitignore
  packages/angular-sample/README.md
  packages/angular-sample/package.json
Due: none

chore: add changesets
  .changeset/giant-lamps-sniff.md
  .changeset/lucky-schools-doubt.md
  .changeset/orange-lamps-serve.md
  .changeset/silver-apricots-peel.md
  .changeset/stupid-zoos-lay.md
  .changeset/thirty-gifts-suffer.md
Due: none

chore: add changesets
  .changeset/forty-dots-jog.md
  .changeset/soft-days-agree.md
Due: none

chore: add changeset
  .changeset/tricky-spoons-pay.md
Due: none

refactor(react)!: refactor LogtoContextProps and LogtoContext
  .changeset/wicked-peas-destroy.md
  packages/react/src/context.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/react/src/provider.tsx
Due: none

chore: add comments
  packages/react/src/context.tsx
Due: none

refactor: fix tests
  packages/react/package.json
  packages/react/src/hooks/index.test.tsx
  pnpm-lock.yaml
Due: none

refactor(react)!: refactor LogtoContextProps and LogtoContext (#586)
  .changeset/wicked-peas-destroy.md
  packages/react/package.json
  packages/react/src/context.tsx
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/index.ts
  packages/react/src/provider.tsx
  pnpm-lock.yaml
Due: none

Path conditions:
  js: any of: packages/js
  browser: any of: packages/browser
