Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

codecov.yml:

coverage:
  status:
    project:
      default: off
      js:
        target: auto
        threshold: 1%
        flags:
          - js
      browser:
        target: auto
        threshold: 1%
        flags:
          - browser

flags:
  js:
    paths:
      - ./packages/js
  browser:
    paths:
      - ./packages/browser

chore: add changeset
  .changeset/tame-colts-sparkle.md
Due: none

feat(client): add new sign-in option to skip clearing tokens on sign-in (#932)
  .changeset/tame-colts-sparkle.md
  packages/client/src/client.ts
  packages/client/src/index.sign-in.test.ts
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: update dependencies (#933)
  package.json
  pnpm-lock.yaml
Due: none

refactor(js): support one-time token in sign-in URI params
  .changeset/new-weeks-visit.md
  packages/js/src/consts/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
Due: js

release: version packages
  .changeset/hip-bears-swim.md
  .changeset/tame-colts-sparkle.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

refactor(js): support one-time token in sign-in URI params (#931)
  .changeset/new-weeks-visit.md
  packages/js/src/consts/index.ts
  packages/js/src/core/sign-in.test.ts
  packages/js/src/core/sign-in.ts
Due: js

release: version packages (#922)
  .changeset/hip-bears-swim.md
  .changeset/tame-colts-sparkle.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: browser

release: version packages
  .changeset/new-weeks-visit.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

release: version packages (#934)
  .changeset/new-weeks-visit.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

fix: catch uncaught errors in express middleware so they can be passed onwards to the express error handler
  packages/express/src/index.ts
Due: none

fix: catch uncaught errors in express middleware
  packages/express/src/index.ts
Due: none

chore: add changeset
  .changeset/silent-jars-suffer.md
Due: none

fix: catch errors in middleware (#942)
  .changeset/silent-jars-suffer.md
  packages/express/src/index.ts
Due: none

release: version packages
  .changeset/silent-jars-suffer.md
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
Due: none

release: version packages (#943)
  .changeset/silent-jars-suffer.md
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
Due: none

fix(remix): fix the https replacement
  .changeset/heavy-bananas-invite.md
  packages/remix/src/useCases/handleSignInCallback/HandleSignInCallbackController.ts
Due: none

fix(js): add react-native export declarations
  .changeset/wet-mails-do.md
  packages/js/package.json
Due: js

chore: fix typo
  .changeset/wet-mails-do.md
Due: none

release: version packages
  .changeset/wet-mails-do.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/capacitor/CHANGELOG.md
  packages/capacitor/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/CHANGELOG.md
  packages/next-server-actions-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sveltekit/CHANGELOG.md
  packages/sveltekit/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: js, browser

fix(js): fix changelog typo
  packages/js/CHANGELOG.md
Due: js

fix(remix): fix the https replacement (#945)
  .changeset/heavy-bananas-invite.md
  packages/remix/src/useCases/handleSignInCallback/HandleSignInCallbackController.ts
Due: none

chore(deps): update nuxt package versions
  packages/nuxt/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update nuxt package versions (#958)
  packages/nuxt/package.json
  pnpm-lock.yaml
Due: none

release: version packages
  .changeset/heavy-bananas-invite.md
  packages/remix/CHANGELOG.md
  packages/remix/package.json
Due: none

feat: add remix sample project
  packages/remix-sample/README.md
  packages/remix-sample/app/root.tsx
  packages/remix-sample/app/routes/_index.tsx
  packages/remix-sample/app/routes/access-token.tsx
  packages/remix-sample/app/routes/api.logto.$action.ts
  packages/remix-sample/app/routes/user-info.tsx
  packages/remix-sample/app/services/auth.server.ts
  packages/remix-sample/package.json
  packages/remix-sample/tsconfig.json
  packages/remix-sample/vite.config.ts
  packages/remix/README.md
  pnpm-lock.yaml
Due: none

feat: add next-auth sample
  packages/next-auth-sample/.eslintrc.json
  packages/next-auth-sample/.gitignore
  packages/next-auth-sample/README.md
  packages/next-auth-sample/app/api/auth/[...nextauth]/route.ts
  packages/next-auth-sample/app/components/sign-in.tsx
  packages/next-auth-sample/app/components/sign-out.tsx
  packages/next-auth-sample/app/fetch-user-info/page.tsx
  packages/next-auth-sample/app/layout.tsx
  packages/next-auth-sample/app/page.tsx
  packages/next-auth-sample/auth.ts
  packages/next-auth-sample/middleware.ts
  packages/next-auth-sample/next.config.js
  packages/next-auth-sample/package.json
  packages/next-auth-sample/tsconfig.json
  pnpm-lock.yaml
Due: none

feat: add remix sample project (#952)
  packages/remix-sample/README.md
  packages/remix-sample/app/root.tsx
  packages/remix-sample/app/routes/_index.tsx
  packages/remix-sample/app/routes/access-token.tsx
  packages/remix-sample/app/routes/api.logto.$action.ts
  packages/remix-sample/app/routes/user-info.tsx
  packages/remix-sample/app/services/auth.server.ts
  packages/remix-sample/package.json
  packages/remix-sample/tsconfig.json
  packages/remix-sample/vite.config.ts
  packages/remix/README.md
  pnpm-lock.yaml
Due: none

feat: add next-auth sample (#947)
  packages/next-auth-sample/.eslintrc.json
  packages/next-auth-sample/.gitignore
  packages/next-auth-sample/README.md
  packages/next-auth-sample/app/api/auth/[...nextauth]/route.ts
  packages/next-auth-sample/app/components/sign-in.tsx
  packages/next-auth-sample/app/components/sign-out.tsx
  packages/next-auth-sample/app/fetch-user-info/page.tsx
  packages/next-auth-sample/app/layout.tsx
  packages/next-auth-sample/app/page.tsx
  packages/next-auth-sample/auth.ts
  packages/next-auth-sample/middleware.ts
  packages/next-auth-sample/next.config.js
  packages/next-auth-sample/package.json
  packages/next-auth-sample/tsconfig.json
  pnpm-lock.yaml
Due: none

refactor: split Angular utilities into a dedicated package
  .changeset/cold-brooms-wait.md
  packages/angular-sample/package.json
  packages/angular-sample/src/app/app.component.ts
  packages/angular-sample/src/app/app.config.ts
  packages/angular/README.md
  packages/angular/package.json
  packages/angular/rollup.config.js
  packages/angular/src/index.ts
  packages/angular/tsconfig.build.json
  packages/angular/tsconfig.json
  packages/angular/vitest.config.ts
  packages/js/src/utils/index.ts
  pnpm-lock.yaml
Due: js

refactor: split Angular utilities into a dedicated package (#960)
  .changeset/cold-brooms-wait.md
  packages/angular-sample/package.json
  packages/angular-sample/src/app/app.component.ts
  packages/angular-sample/src/app/app.config.ts
  packages/angular/README.md
  packages/angular/package.json
  packages/angular/rollup.config.js
  packages/angular/src/index.ts
  packages/angular/tsconfig.build.json
  packages/angular/tsconfig.json
  packages/angular/vitest.config.ts
  packages/js/src/utils/index.ts
  pnpm-lock.yaml
Due: js

docs(node): update README with a general guide of implementing SDKs
  packages/node/README.md
Due: none

docs(node): update README with a general guide of implementing SDKs (#961)
  packages/node/README.md
Due: none

chore(deps): fix base-x to a non-vulnerable version
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): fix base-x to a non-vulnerable version (#965)
  package.json
  pnpm-lock.yaml
Due: none

chore: fix deploy with vercel button
  packages/next-sample/README.md
  packages/next-sample/package.json
  packages/next-server-actions-sample/README.md
  packages/next-server-actions-sample/package.json
  pnpm-lock.yaml
Due: none
