Repository logto-io/js: changes, and which Codecov flags are due for each by the changed paths.
All: js, browser

codecov.yml:

coverage:
  status:
    project:
      default: off
      js:
        target: auto
        threshold: 1%
        flags:
          - js
      browser:
        target: auto
        threshold: 1%
        flags:
          - browser

flags:
  js:
    paths:
      - ./packages/js
  browser:
    paths:
      - ./packages/browser

release: v1.1.1
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: browser

chore: bump essentials version
  packages/browser/package.json
  packages/client/package.json
  packages/js/package.json
  packages/node/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

feat: next edge package
  packages/next/.gitignore
  packages/next/edge/index.ts
  packages/next/edge/iron-session-edge/get-property-descriptor-for-request-session.ts
  packages/next/edge/iron-session-edge/index.ts
  packages/next/package.json
  packages/next/src/client.ts
  packages/next/src/types.ts
  packages/next/tsconfig.json
Due: none

feat: add next edge sample
  packages/next-sample/libraries/config.ts
  packages/next-sample/libraries/logto-edge.ts
  packages/next-sample/pages/api/edge.ts
Due: none

chore: upgrade dependencies
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue-sample/package.json
  packages/vue-sample/tsconfig.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore: upgrade dependencies (#470)
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  package.json
  packages/browser-sample/package.json
  packages/browser/package.json
  packages/client/package.json
  packages/express-sample/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next-sample/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react-sample/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue-sample/package.json
  packages/vue-sample/tsconfig.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

chore: upgrade essentials
  packages/browser/jest.config.ts
  packages/browser/package.json
  packages/browser/tsconfig.test.json
  packages/client/jest.config.ts
  packages/client/package.json
  packages/client/tsconfig.test.json
  packages/js/jest.config.ts
  packages/js/package.json
  packages/js/tsconfig.test.json
  packages/node/jest.config.ts
  packages/node/package.json
  packages/node/tsconfig.test.json
  packages/remix/jest.config.ts
  pnpm-lock.yaml
Due: js, browser

chore: upgrade essentials (#471)
  packages/browser/jest.config.ts
  packages/browser/package.json
  packages/browser/tsconfig.test.json
  packages/client/jest.config.ts
  packages/client/package.json
  packages/client/tsconfig.test.json
  packages/js/jest.config.ts
  packages/js/package.json
  packages/js/tsconfig.test.json
  packages/node/jest.config.ts
  packages/node/package.json
  packages/node/tsconfig.test.json
  packages/remix/jest.config.ts
  pnpm-lock.yaml
Due: js, browser

refactor: replace ts-jest with sec
  jest.config.ts
  package.json
  packages/browser/jest.config.ts
  packages/browser/package.json
  packages/browser/tsconfig.test.json
  packages/client/jest.config.ts
  packages/client/package.json
  packages/client/tsconfig.test.json
  packages/express/jest.config.ts
  packages/express/package.json
  packages/js/jest.config.ts
  packages/js/package.json
  packages/js/tsconfig.test.json
  packages/next/jest.config.ts
  packages/next/package.json
  packages/node/jest.config.ts
  packages/node/package.json
  packages/node/tsconfig.test.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue/jest.config.ts
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

refactor: use rollup and upgrade jest packages
  jest.config.ts
  package.json
  packages/browser/jest.setup.js
  packages/browser/package.json
  packages/browser/rollup.config.mjs
  packages/browser/tsconfig.build.json
  packages/browser/tsconfig.json
  packages/client/package.json
  packages/client/rollup.config.mjs
  packages/client/tsconfig.build.json
  packages/client/tsconfig.json
  packages/express/package.json
  packages/express/rollup.config.mjs
  packages/express/tsconfig.build.json
  packages/express/tsconfig.json
  packages/js/package.json
  packages/js/rollup.config.mjs
  packages/js/tsconfig.build.json
  packages/js/tsconfig.json
  packages/next/package.json
  packages/next/rollup.config.mjs
  packages/next/tsconfig.build.json
  packages/next/tsconfig.json
  packages/node/package.json
  packages/node/rollup.config.mjs
  packages/node/tsconfig.build.json
  packages/node/tsconfig.json
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/tsconfig.build.json
  packages/remix/package.json
  packages/remix/rollup.config.mjs
  packages/remix/tsconfig.build.json
  packages/remix/tsconfig.json
  packages/vue/package.json
  packages/vue/rollup.config.mjs
  packages/vue/tsconfig.build.json
  pnpm-lock.yaml
  rollup.config.mjs
Due: js, browser

test: fix js test
  packages/js/src/utils/errors.test.ts
Due: js

fix: cr fix
  packages/next/edge/iron-session-edge/index.ts
  pnpm-lock.yaml
Due: none

fix: avoid error code breaking change
  packages/client/src/errors.ts
  packages/client/src/index.test.ts
  packages/client/src/index.ts
  packages/js/src/utils/callback-uri.test.ts
  packages/js/src/utils/callback-uri.ts
  packages/js/src/utils/errors.test.ts
  packages/js/src/utils/errors.ts
  packages/js/src/utils/id-token.test.ts
  packages/js/src/utils/id-token.ts
Due: js

test: fix test cases
  packages/client/package.json
  packages/js/jest.setup.js
  packages/js/package.json
  packages/js/src/utils/id-token.test.ts
  packages/react/src/hooks/index.test.tsx
  pnpm-lock.yaml
Due: js

fix: remove id token check for sign out
  packages/client/src/index.ts
Due: none

fix: remove id token check for sign out (#474)
  packages/client/src/index.ts
Due: none

fix: test case
  packages/react/src/hooks/index.test.tsx
Due: none

chore: fix build
  packages/next/package.json
  packages/next/rollup.config.mjs
  packages/next/tsconfig.build.json
Due: none

fix: fix browser test
  packages/browser/jest.setup.js
  packages/browser/package.json
  pnpm-lock.yaml
Due: browser

fix(react): only call handleSignInCallback when not loading
  packages/react/src/hooks/index.test.tsx
  packages/react/src/hooks/index.ts
Due: none

fix: browser tests
  packages/browser/FixJsdomEnvironment.ts
  packages/browser/jest.config.ts
  packages/browser/jest.setup.js
  packages/browser/package.json
  packages/browser/tsconfig.json
  pnpm-lock.yaml
Due: browser

release: v1.1.2
  CHANGELOG.md
  lerna.json
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

fix: fix package file
  packages/next/package.json
Due: none

feat(next, next-sample): support nextjs edge runtime (#469)
  .gitignore
  packages/browser/jest.setup.js
  packages/browser/package.json
  packages/client/package.json
  packages/client/src/errors.ts
  packages/client/src/index.ts
  packages/client/src/utils/once.ts
  packages/js/package.json
  packages/js/src/utils/errors.test.ts
  packages/js/src/utils/errors.ts
  packages/next-sample/.gitignore
  packages/next-sample/libraries/config.ts
  packages/next-sample/libraries/logto-edge.ts
  packages/next-sample/pages/api/edge.ts
  packages/next/.gitignore
  packages/next/edge/index.ts
  packages/next/edge/iron-session-edge/get-property-descriptor-for-request-session.ts
  packages/next/edge/iron-session-edge/index.ts
  packages/next/package.json
  packages/next/rollup.config.mjs
  packages/next/src/client.ts
  packages/next/src/types.ts
  packages/next/tsconfig.build.json
  packages/next/tsconfig.json
  pnpm-lock.yaml
Due: js, browser

refactor: upgrade essentials and configs
  packages/browser/package.json
  packages/client/package.json
  packages/js/package.json
  packages/next/edge/index.ts
  packages/next/package.json
  packages/next/src/storage.ts
  packages/node/package.json
  packages/node/src/utils/generators.ts
  packages/react/package.json
  pnpm-lock.yaml
Due: js, browser

refactor: fix tests
  jest.config.js
  packages/browser/FixJsdomEnvironment.js
  packages/browser/jest.config.js
  packages/browser/jest.setup.js
  packages/browser/package.json
  packages/client/jest.config.js
  packages/client/jest.setup.js
  packages/client/package.json
  packages/express/jest.config.js
  packages/express/package.json
  packages/js/jest.config.js
  packages/js/jest.setup.js
  packages/js/package.json
  packages/js/src/core/fetch-token.test.ts
  packages/next/jest.config.js
  packages/next/package.json
  packages/node/jest.config.js
  packages/node/package.json
  packages/react/jest.config.js
  packages/react/package.json
  packages/remix/jest.config.js
  packages/remix/jest.config.ts
  packages/remix/package.json
  packages/vue/jest.config.js
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

test: add sanity check for node packages
  packages/express/package.json
  packages/express/test.cjs
  packages/next/package.json
  packages/next/test.cjs
  packages/node/package.json
  packages/node/test.cjs
Due: none

chore: use changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .husky/pre-commit
  .scripts/publish.sh
  .scripts/version.sh
  package.json
  pnpm-lock.yaml
Due: none

chore: use changesets (#478)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .husky/pre-commit
  .scripts/publish.sh
  .scripts/version.sh
  package.json
  pnpm-lock.yaml
Due: none

chore: add changesets
  .changeset/cold-pugs-knock.md
  .changeset/hot-dogs-bake.md
Due: none

chore: add changesets (#480)
  .changeset/cold-pugs-knock.md
  .changeset/hot-dogs-bake.md
Due: none

fix(vue): prevent potential issue from handling sign-in callback
  packages/vue/src/index.ts
Due: none

chore: add changeset and unit test
  .changeset/small-eyes-flow.md
  packages/vue/src/index.test.ts
Due: none

fix(vue): prevent potential issue from handling sign-in callback (#482)
  .changeset/small-eyes-flow.md
  packages/vue/src/index.test.ts
  packages/vue/src/index.ts
Due: none

release: version packages
  .changeset/cold-pugs-knock.md
  .changeset/hot-dogs-bake.md
  .changeset/small-eyes-flow.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

release: version packages (#481)
  .changeset/cold-pugs-knock.md
  .changeset/hot-dogs-bake.md
  .changeset/small-eyes-flow.md
  packages/browser-sample/CHANGELOG.md
  packages/browser-sample/package.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/express-sample/CHANGELOG.md
  packages/express-sample/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/next-sample/CHANGELOG.md
  packages/next-sample/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/react-sample/CHANGELOG.md
  packages/react-sample/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/vue-sample/CHANGELOG.md
  packages/vue-sample/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Due: js, browser

ci: fix workflow
  .github/workflows/publish.yml
  .github/workflows/release.yml
  lerna.json
Due: none

ci: fix workflow (#483)
  .github/workflows/publish.yml
  .github/workflows/release.yml
  lerna.json
Due: none

fix: prepack script
  .changeset/violet-dryers-fetch.md
  .github/workflows/publish.yml
  packages/browser/package.json
  packages/client/package.json
  packages/express/package.json
  packages/js/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/vue/package.json
Due: js, browser
